.related-articles {
  padding-top: 60px;
  padding-bottom: 45px;
  background-color: #fafbfd;
  @at-root .post-template-new-blog-post & {
    padding-top: 2rem;
    background-color: $white;
    @include mediaMin(992) {
      padding-top: 5rem;
    }
  }
  @at-root .events-page & {
    padding-top: 0;
    background-color: $white;
    @include mediaMin(992) {
      padding-bottom: 3.5rem;
    }
  }
  h2.recent-articles {
    margin-bottom: 30px;
    font-size: 24px;
    color: #2d344d;
    font-weight: 600;
    a {
      color: #2d344d;
    }
  }
  .title {
    @extend .fw-semibold;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
    @include mediaMin(992) {
      margin-bottom: 2.5rem;
      font-size: 2rem;
    }
  }
  .articles-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @at-root .post-template-new-blog-post & {
      margin-left: -8px;
      margin-right: -8px;
    }
    @at-root .events-page & {
      margin-left: -8px;
      margin-right: -8px;
    }
  }

  .author-article {
    padding-left: 15px;
    padding-right: 15px;
    @at-root .post-template-new-blog-post & {
      padding-left: 8px;
      padding-right: 8px;
    }
    @at-root .events-page & {
      padding-left: 8px;
      padding-right: 8px;
    }
    // &:first-child {
    // padding-left: 0;
    // }
    // &:last-child {
    // padding-right: 0;
    // }
    @include mediaMax(767) {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 30px;
      @at-root .post-template-new-blog-post & {
        margin-bottom: 0;
      }
      @at-root .events-page & {
        margin-bottom: 0;
      }
      .blog-img img {
        width: 100%;
        height: auto;
      }
    }
    img {
      width: 100%;
      height: 260px;
      object-fit: cover;
      @at-root .post-template-new-blog-post & {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        height: 194px;
      }
      @at-root .events-page & {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        height: 194px;
      }
      @include mediaMax(450) {
        height: auto;
      }
    }
    .cases-card-content {
      padding: 22px 25px 20px;
      @at-root .post-template-new-blog-post & {
        padding: 12px 8px;
      }
      @at-root .events-page & {
        padding: 12px 8px;
      }
      .tags {
        ul {
          gap: 10px;
          flex-wrap: wrap;
        }
        a {
          @include border-radius(3px);
          background-color: $color-light-blue;
          font-size: 12px;
          color: $color-dark-blue;
          padding: 6px 8px;
          display: inline-flex;
          line-height: 100%;
          @include mediaMax(1340) {
            font-size: 9px;
          }
          @include mediaMax(991) {
            font-size: 8px;
          }
        }
      }
      .article-title {
        margin-bottom: 12px;
        font-size: 18px;
        line-height: 140%;
        color: #383737;
        a {
          font-size: 18px;
          line-height: 140%;
          color: #000;
          @extend .fw-semibold;
          @at-root .post-template-new-blog-post & {
            display: inline-block;
            margin-top: 12px;
            font-size: 20px;
            color: $color-dark-blue;
            line-height: 150%;
          }
          @at-root .events-page & {
            display: inline-block;
            margin-top: 12px;
            font-size: 20px;
            color: $color-dark-blue;
            line-height: 150%;
          }
        }
      }
      .article-except {
        margin-bottom: 20px;
        font-size: 15px;
        line-height: 150%;
        @at-root .post-template-new-blog-post & {
          margin-bottom: 12px;
        }
        @at-root .events-page & {
          margin-bottom: 12px;
        }
        p {
          font-size: 15px;
          line-height: 150%;
          color: #383737;
          @at-root .post-template-new-blog-post & {
            line-height: 175%;
            color: $color-dark-gray;
          }
          @at-root .events-page & {
            line-height: 175%;
            color: $color-dark-gray;
          }
        }
      }
      .article-date {
        display: flex;
        align-items: center;
        p {
          font-size: 14px;
          color: #98989b;
          line-height: 100%;
          @at-root .post-template-new-blog-post & {
            font-size: 15px;
            line-height: 175%;
            color: #aabde7;
          }
          @at-root .events-page & {
            font-size: 15px;
            line-height: 175%;
            color: #aabde7;
          }
        }
        .dote {
          display: inline-block;
          margin: 0 7px;
          vertical-align: middle;
          width: 3px;
          height: 3px;
          background-color: #aabde7;
          @include border-radius(50%);
        }
      }
    }
  }

  .cases-card-content {
    padding: 30px 20px;
    min-height: 350px;
    @include mediaMax(1340) {
      min-height: 400px;
    }
    @include mediaMax(768) {
      min-height: auto;
    }
    @include mediaMax(450) {
      padding: 20px;
    }
  }
}
