.section-hero-new {
  margin-bottom: 60px;
  .h1,
  .tilte {
    opacity: 1;
    font-family: $f-sto-m;
    font-size: 1.5rem;
    line-height: 120%;
    letter-spacing: 0.24px;
    @at-root .lang-ar & {
      text-align: right;
    }
    @include mediaMin(768) {
      line-height: 100%;
      font-size: 44px;
      letter-spacing: 0.35px;
    }
    @include mediaMin(992) {
      font-size: 54px;
    }
    
    @include mediaMin(1441) {
      font-size: 4rem;
    }

  }
  
  .title-gradient {
    background: linear-gradient(90deg, #5C66F3 0%, #3946F4 70%);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  .undertitle {
    font-size: 1.5rem;
    @include mediaMin(992) {
      font-size: 1.875rem;
    }
    @include mediaMin(1441) {
      font-size: 2.1875rem;
    }
  }
  .subtitle {
    font-size: .9375rem;
    @include mediaMin(992) {
      font-size: 1.125rem;
      width: 657px;
    }
    @include mediaMin(1441) {
      font-size: 1.25rem;
    }
    @at-root .lang-ar & {
      padding-right: 0;
      text-align: right;
    }
  }
  &__btn {
    gap: 1rem;
    .btn {
      padding: 1rem 2.5rem;
      text-wrap: auto;
    }
  }
  &__inner {
    padding-top: 3rem;
    padding-bottom: 3.25rem;
    
    @include mediaMin(992) {
      padding-bottom: 5rem;
      padding-top: 5rem;
    }
  }
  &-service {
    .title {
      font-size: 2rem;
      @include mediaMin(1441) {
        font-size: 3rem;
      }

    }
    
  }
  
  
  .btn-wrap {
    display: inline-flex;
    flex-direction: column;
    max-width: 100%;
    
    .btn.btn-blue {
      min-width: 260px;
    }
  }
  .custom-slider {
    @include mediaMin(1024) {
      opacity: 1;
      visibility: visible;
  }
  }
  .hero-slider,
  .slick-track {
    display: flex;
    gap: 12px;
  }
  .media-logo {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    padding: 14px;
    @include border-radius(10px);
    border: 1px solid $border-color;
    background: rgba(255, 255, 255, 0.50);;
    flex-shrink: 0;
    
    @include mediaMin(1340) {
      padding-left: 45px;
      padding-right: 45px;
    }
  }
  .media-title {
    font-size: 14px;
    color: $color-dark-blue;
  }
  .hide-on-mobile {
    display: none;
    @include mediaMin(1124) {
      display: block;
    }
  }
  
  .bg-wrap {
    
    img {
      position: absolute;
      
    }
    .bg-image-1 {
      left: -90px;
      top: -50px;
      width: 450px;
      max-width: 450px;
      @include mediaMin(768) {
        left: 90px;
        top: -60px;
        width: 450px;
        max-width: 450px;
      }
      @include mediaMin(991) {
        left: -70px;
        top: -100px;
        width: 490px;
        max-width: 490px;
      }
      @include mediaMin(1340) {
        top: -130px;
        left: -10px;
        width: auto;
        max-width: 100%;
      }
    }
    .bg-image-2 {
      left: 60px;
      bottom: -60px;
      @include mediaMin(768) {
        left: 110px;
        bottom: -130px;
      }
      @include mediaMin(991) {
        left: 20px;
        bottom: -70px;
      }
      @include mediaMin(1340) {
        bottom: -110px;
        left: 20px;
      }
    }
    // background-image: url('../images/hero_img_1.png');
  }
}


.has-gradient {
  position: absolute;
  right: 0;
  bottom: 0;
  filter: blur(30px);
  z-index: -1;
  @at-root .lang-ar & {
    right: auto;
    @include mediaMin(1340) {
      left: -20%;
    }
    
  }
  @include mediaMin(576) {
    filter: blur(150px);
    top: 0;
  }
}

.services-box {
  @include mediaMin(1340) {
    position: absolute;
    top: 0;
    right: 1rem;
    @at-root .lang-ar & {
      right: auto;
      left: 1%;
      justify-content: end;
    }
  }
  
}