.section-agency {
	padding-bottom: 4.375rem;
	@include mediaMin(991) {
		padding-bottom: 5rem;
	}
	// .title {
	// 	color: $color-dark-blue;
	// 	font-size: 2rem;
	// 	line-height: 130%;
	// 	@include mediaMin(991) {
	// 		font-size: 1.9rem;
	// 	}
	// 	@include mediaMin(1441) {
	// 		font-size: 38px;
	// 	}
	// }
	.list-agency {
		margin-left: -4px;
		margin-right: -4px;
		@include mediaMin(991) {
			margin-left: -8px;
			margin-right: -8px;
		}
	}

}

.card-agency {
	padding: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	border-radius: 1rem;
	border: 1px solid #F4F8FC;
	background-color: rgba(244, 248, 252, .5);
	height: 100%;
	@include mediaMin(991) {
		padding: 2rem;
	}
	&__img {
		width: 100px;
		height: 100px;
		@include mediaMin(992) {
			width: 162px;
			height: 162px;
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}

	&__name {
		font-size: 12px;
		font-family: $f-sto-r;
		margin-top: .75rem;
		@include mediaMin(991) {
			font-size: 22px;
			margin-top: 1.5rem;
		}

	}
}

// .agency-list {
// 	display: grid;
// 	column-gap: 8px;
//     row-gap: 8px;
//     grid-template-columns: repeat(2,172px);
//     @include mediaMin(768) {
//     	column-gap: 16px;
//     	row-gap: 16px;
//     	grid-template-columns: repeat(4,168px);
// 	}
//     @include mediaMin(991) {
//     	grid-template-columns: repeat(4,258px);
// 	}
// 	@include mediaMin(1341) {
//     	grid-template-columns: repeat(4,318px);
// 	}
// 	@include mediaMin(1441) {
//     	grid-template-columns: repeat(4,344px);
// 	}
// }