//https://icoda.io/services/blockchain-development/
.section-tech {
  padding: 80px 0;
  .wr-tabs {
    margin-top: 37px;
    @include mediaMax(768) {
      margin-top: 16px;
    }
  }
  .nav {
    .nav-link {
      color: #3b3a4b;
      font-size: 18px;
      @include mediaMax(768) {
        font-size: 14px;
        padding-left: 25px;
        padding-right: 25px;
      }
      &.active {
        color: $color-blue;
      }
    }
  }
  .tab-content {
    padding-top: 40px;
    @include mediaMax(768) {
      padding-top: 10px;
    }
  }
  .filter-color {
      width: 0;
      height: 0
  }
  .list-logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 0 -26px;
    background: 0 0;
    @include mediaMax(768) {
      margin: 0;
    }
  }
  .logo-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 26px 0;
    @include mediaMax(768) {
      margin: 30px 0 0;
      flex: 0 0 auto;
      width: 25%
    }
    img {
      filter: url(#sepia);
      width: 70px;
      height: auto;
      @include mediaMax(768) {
        width: 40px;
      }
    }
    span {
      white-space: nowrap;
      margin-top: 15px;
      font-size: 14px;
      color: #797286;
      @include mediaMax(768) {
        font-size: 12px;
        margin-top: 14px
      }
    }
    &:hover {
      img {
        filter: none
      }
      span {
        color: #000
      }
    } 
  }
  .list-logo-item {
    @include mediaMax(768) {
      flex: 1 0 50%;
      padding-bottom: 50%
    }
  }
}