.section-form {
  padding-bottom: 80px;
  &-inner {
	background-color: $gray-300;
	padding: 40px 0;
		@include border-radius(1.25rem);
		
		@include mediaMin(991) {
			padding: 60px 70px;
		}
		@include mediaMin(1441) {
			padding: 80px 100px;
		}
	}
	
	.form-default {
		.form-control {
			padding: 14px 20px;
			height: auto;
			color: $color-dark-blue;
			@include mediaMin(1441) {
				font-size: 18px;
			}
			&::placeholder {
				color: $placeholder;
			}
		}
		textarea.form-control {
			min-height: 118px;
			padding: 14px 20px;
		}
		.wr-btn {
			margin-top: 0;
			text-align: left;
		}
		button.btn.btn-blue {
			min-width: 163px;
		}

	}

}