.section-logotypes {
  .img-wrap {
    text-align: center;
    height: 100%;
    img {
      height: 100%;
      object-fit: cover;
    }
  }
  &-banxe {
    .img-wrap-main {
      height: initial;
    }
  }
}