.about-page{
  .section{
    padding: 0;
    margin: 0;
  }
  .section-1{
    padding-bottom: 47px;
    overflow: visible;
    .text {
      margin-top: 45px;
    }
    .sub-text{
      max-width: 310px;
      margin: 15px 0 0;
      p{
        font: 14px/170% $f-sto-b;
        color: $color-dark-gray;
      }
    }
    .breadcrumb{
      margin: 0;
    }
    .wr-img{
      position: relative;
    }
    .bg-about{
      position: absolute;
      z-index: 2;
      top: 0;
      left: 0;
      background: url("../images/bg-about-s1.jpg") center 0 no-repeat;
      background-size: cover;
      width: 570px;
      height: 770px;
      transform: translate(-15px, -22px);
    }
  }
  .section-2{
    padding-top: 43px;
    padding-bottom: 69px;
    background: $color-light-white;
    .col-sm-12{
      padding-right: 0;
    }
    .text{
      max-width: 380px;
      p{
        padding-top: 15px;
        color: $color-dark-gray;
        font-size: 14px;
        line-height: 170%;
        &:first-child{
          padding-top: 0;
        }
      }
    }
    .contact-panel{
      margin-top: 40px;
      background: #F1F4F9;
      display: flex;
      align-items: center;
      padding: 0 30px;
      height: 70px;
      .ttl{
        font: 18px/150% $f-sto-r;
        margin-right: 35px;
        color: $color-dark-gray;
      }
      .media-list {
        li{
          margin-left: 22px;
          &:first-child{
            margin-left: 0;
          }
        }
        a{
          &:before{
            font-size: 20px;
            color: $color-dark-gray;
          }
          &.icon-ico-media-3{
            &:before{
              font-size: 16px;
            }
          }
        }
      }
    }
    .wr-btn{
      margin-top: 40px;
    }
  }
}


// media

@include media-breakpoint-down(sm) {
  .about-page {
    .section-1 {
      padding-bottom: 40px;
      .bg-about {
        margin-top: 40px;
        position: relative;
        top: inherit;
        left: inherit;
        width: 100%;
        height: 300px;
        transform: none;
      }
    }
    .section-2 {
      .col-sm-12 {
        padding-right: 15px;
      }
    }
  }
}
@include media-breakpoint-only(xs) {
  .about-page {
    .section-2{
      .contact-panel{
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding: 20px;
        .ttl{
          margin-bottom: 20px;
        }
      }
    }
  }
}
@include media-breakpoint-only(md) {
  .about-page {
    .section-1 {
      .bg-about {
        height: 796px;
      }
    }
    .section-2{
      .text{
        max-width: 100%;
        padding-right: 15px;
      }
      .contact-panel{
        padding: 20px;
      }
    }
  }
}
@include media-breakpoint-only(lg) {
  .about-page {
    .section-1 {
      .bg-about {
        height: 760px;
      }
    }
  }
}
