.article-page {
  .section {
    padding: 0;
    margin: 0;
  }
  .section-1 {
    padding-top: 20px;
    padding-bottom: 50px;
    .h4 {
      padding-bottom: 5px;
      line-height: 165%;
      max-width: 710px;
    }
    .sub-text {
      margin: 0;
      & > p {
        font-size: 15px;
        line-height: 28px;
        // padding-top: 15px;
        padding-bottom: 15px;
      }
      .marker-list {
        li {
          margin-bottom: 16px;
        }
      }
    }
  }
  .section-2 {
    background: $color-light-white;
    img {
      display: block;
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
  .section-3 {
    padding-top: 50px;
    &:before {
      display: none;
    }
    padding-bottom: 90px;
    .ttl {
      max-width: 610px;
      font-size: 24px;
      line-height: 165%;
      color: $color-dark-blue;
      font-family: $f-sto-r;
    }
    .sub-text {
      & > p {
        line-height: 28px;
        padding-top: 20px;
      }
      .marker-list {
        padding-top: 25px;
        padding-bottom: 20px;
        li {
          padding-left: 17px;
          margin-bottom: 15px;
          font-size: 15px;
          line-height: 175%;
          &:last-child {
            margin-bottom: 0;
          }
          &:before {
            left: 0;
          }
        }
      }
    }
  }

  .section-5 {
    padding-top: 82px;
    padding-bottom: 40px;
    .text {
      margin-top: -5px;
      max-width: 320px;
    }
    .sub-text {
      margin-top: 15px;
      margin-bottom: 7px;
    }
    .multi-collapse-project-card {
      &.show {
        display: flex;
      }
    }
  }

  .callback-form {
    padding-top: 3rem;
    background-color: #fafbfd;
    > .container {
      > .row {
        // justify-content: center;
      }
    }
    .form-default-header {
      margin-bottom: 25px;
      flex-direction: column;
      align-items: flex-start;
      .ttl {
        font: 32px/42px "Stolzl-Regular", sans-serif;
        color: #2d344d;
        padding: 0 0 12px;
      }
    }

    .form-success {
      padding: 5.734em 0;
      .wr-ico-check {
        position: relative;
        display: inline-block;
        padding-top: 6px;
        width: 50px;
        height: 37px;
        background: #3c61e2;
        color: #fff;
        &:before {
          content: "";
          position: absolute;
          left: 0;
          bottom: -8px;
          width: 8px;
          height: 8px;
          background: url(../images/arr-label-item.svg) 0 0 no-repeat;
        }
      }
      .ttl {
        padding-top: 33px;
        padding-bottom: 10px;
        font: 32px/42px "Stolzl-Regular", sans-serif;
        color: #2d344d;
      }
    }
  }
  .section-goal-tasks {
    padding-bottom: 30px;
  }
}

.post-author-meta {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  margin-bottom: 40px;
  .profile-avatar {
    margin-right: 30px;
    img {
      border-radius: 50%;
    }
  }
  .author-meta {
    p.author-name {
      a {
        color: #2d344d;
      }
    }
    p.position {
      font-size: 12px;
      color: #8a9ab5;
    }
  }
}


.author-articles {
  padding-top: 12px;
  background-color: #fafbfd;
  .articles-title {
    margin-bottom: 30px;
    font-size: 24px;
    color: #2d344d;
    font-weight: 600;
  }
  .articles-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    @include mediaMin(1024) {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  .author-article {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 20px;
    .blog-img {
      img {
        // width: 100%;
        height: auto;
      }
    }
    @include mediaMax(767) {
      flex: 0 0 100%;
      max-width: 100%;
      margin-bottom: 30px;
    }
    .cases-card-content {
      padding: 22px 25px 20px;
      .article-title {
        margin-bottom: 10px;
        font-size: 18px;
        line-height: 140%;
        color: #383737;
        a {
          font-size: 18px;
          line-height: 140%;
          color: #000;
        }
      }
      .article-except {
        margin-bottom: 20px;
        font-size: 15px;
        line-height: 150%;
        p {
          font-size: 15px;
          line-height: 150%;
          color: #383737;
        }
      }
      .article-date {
        p {
          font-size: 14px;
          color: #98989b;
          line-height: 100%;
        }
      }
    }
  }
}

// media

@include media-breakpoint-down(sm) {
  .article-page {
    .section-3 {
      padding-bottom: 80px;
    }
    .marker-list li:before {
      top: 10px;
    }
  }
}

@include media-breakpoint-only(md) {
  .article-page {
    .marker-list li:before {
      top: 10px;
    }
  }
}
