.btn {
  border-radius: 3px;
  border: none;
  font-weight: 500;
  outline: none;
  min-width: 148px;
  transition: all 0.3s;
  font-family: $f-sto-m;
  &:focus {
    box-shadow: none;
    outline: none;
  }
  &.btn-default {
    min-width: 220px;
    border: 1px solid #c3d0f4;
    font-size: 12px;
    line-height: 13px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    padding: 19px 0 16px;
    color: $color-dark-gray;
    background: transparent;
    &:hover {
      background: #f4f9ff;
      border: 1px solid #d6e1ff;
    }
    &:active {
      background: #e7f2ff;
      border: 1px solid #d6e1ff;
      box-shadow: none;
    }
    &:focus {
      background: #e7f2ff;
      border: 1px solid #aabde7;
      box-shadow: 0 0 0 1px #aabde7;
    }
  }
  &.btn-blue {
    min-width: 255px;
    background: $color-blue;
    font-size: 15px;
    color: #ffffff;
    padding: 19px 0 17px;
    border: 1px solid $color-blue;
    &:hover {
      background: #3156d8;
    }
    &:active {
      background: #3156d8;
    }
    &:focus {
      background: $color-blue;
      border: 1px solid #aabde7;
      box-shadow: 0 0 0 1px #aabde7;
    }
    &.ico-btn {
      &.ico-download {
        padding: 15px 0 17px;
        span {
          display: inline-block;
          width: 15px;
          height: 20px;
          background: url("../images/ico-download.svg") 0 0 no-repeat;
          margin-right: 15px;
          transform: translate(0, 4px);
        }
      }
      &.ico-mail {
        span {
          display: inline-block;
          width: 16px;
          height: 12px;
          background: url("../images/ico-mail.svg") 0 0 no-repeat;
          margin-right: 10px;
          transform: translate(0, 2px);
        }
      }
    }
  }
  &.btn-red {
    padding: 25px 40px;
    background: linear-gradient(180deg, #cb0000 19.61%, #7e0000 119.61%);
    border-radius: 8px;
    font-size: 1.25rem; //20px;
    color: $white;
    position: relative;
    &:hover {
      color: $color-dark-blue;
    }
    &:before {
      content: "";
      position: absolute;
      top: -20px;
      left: -15px;
      width: 250px;
      height: 40px;
      background: rgba(255, 171, 171, 0.48);
      mix-blend-mode: screen;
      filter: blur(34.9235px);
      z-index: 1;
    }
    &:after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 10px;
      width: 200px;
      height: 40px;
      background: rgba(122, 19, 19, 0.48);
      filter: blur(23.2823px);
      z-index: 1;
    }
  }

  @at-root .has-highlight & {
    position: relative;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
    &:before {
      content: "";
      height: 200px;
      width: 250px;
      top: -20px;
      left: -140px;
      display: block;
      position: absolute;
      background: rgba(255, 255, 255, 1);
      border-radius: 100%;
      transform: scale(0);
      z-index: 20;
      animation: ripple 4s linear infinite;
    }
  }
  &-outline-blue {
    border: 1px solid $color-blue;
    color: $color-blue;
    &:hover {
      background-color: $color-blue;
      color: $white;
    }
  }
}
//btn with auto highlight
.has-highlight {
  position: relative;
  &::after {
    @include mediaMin(374) {
      content: "";
      position: absolute;
      background-image: url("../images/arrow-icon-reverse.svg");
      background-repeat: no-repeat;
      background-size: cover;
      top: -30px;
      right: -50px;
      width: 40px;
      height: 68px;
    }
  }
}

@keyframes ripple {
  20% {
    opacity: 0;
    transform: scale(2.5);
  }
  100% {
    opacity: 0;
    transform: scale(2.5);
  }
}
