.careers-page{
  .section{
    padding: 0;
    margin: 0;
  }
  .section-1{
    padding-bottom: 70px;
    background: $color-light-white;
    .sub-text{
      max-width: 410px;
      margin-top: 35px;
      @include mediaMax(991) {
        max-width: 100%;
      }
      p {
        padding-bottom: 20px;
      }
    }
  }

  .section-2{
    padding-top: 80px;
    padding-bottom: 80px;
    .row{
      justify-content: space-between;
    }
    .wr-img-gen {
      position: absolute;
      &-1 {
        width: 280px;
        top: 20px;
        left: 0;
        @include mediaMax(1440) {
          width: 250px;
        }
        @include mediaMax(1340) {
          width: 220px;
        }
      }
      &-2 {
        width: 306px;
        top: 170px;
        left: 55%;
        transform: translateX(-55%);
        z-index: 1;
        @include mediaMax(1440) {
          width: 276px;
          left: 54%;
          transform: translateX(-54%);
        }
        @include mediaMax(1340) {
          width: 216px;
          top: 130px;
        }
      }
      &-3 {
        width: 312px;
        top: -30px;
        right: 0;
        @include mediaMax(1440) {
          width: 282px;
        }
        @include mediaMax(1340) {
          width: 252px;
        }
      }
      &-4 {
        width: 310px;
        bottom: 30px;
        left: 10px;
        @include mediaMax(1440) {
          width: 280px;
          bottom: 90px;
        }
        @include mediaMax(1340) {
          width: 230px;
          bottom: 320px;
        }
        @include mediaMax(1200) {
          bottom: 190px;
        }
      }
      &-5 {
        width: 320px;
        bottom: -60px;
        right: 30px;
        z-index: 2;
        @include mediaMax(1440) {
          width: 290px;
          bottom: 20px;
        }
        @include mediaMax(1340) {
          width: 230px;
          bottom: 270px;
          right: 10px;
        }
        @include mediaMax(1200) {
          bottom: 140px;
        }
        @include mediaMax(1024) {
          right: 0;
        }
      }
    }
  }

  .section-3{
    padding-top: 70px;
    padding-bottom: 82px;
    .l-box{
      position: relative;
      padding: 80px 65px;
      width: 570px;
      .h4{
        margin-bottom: 10px;
      }
      ul{
        margin-top: 25px;
        li{
          margin-top: 10px;
          &:first-child{
            margin-top: 0;
          }
        }
      }
      .h5{
        margin-top: 40px;
        margin-bottom: 20px;
      }
      .ico-mail{
        width: 285px;
      }
    }

    .wr-form{
      margin-left: 65px;
      margin-top: 88px;
    }
  }
}

.career-list{
  .career-list-item{
    margin-top: 35px;
    &:first-child{
      margin-top: 0;
    }
    .h4{
      margin-bottom: 8px;
    }
  }
}

// media

@include media-breakpoint-down(sm) {
  .careers-page{
    .section-2{
      background: url("../images/bg-careers-s2.jpg") center 0 no-repeat;
      background-size: cover;
      &:before{
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: rgba(0,0,0,.5);
      }
    }
    .section-3 {
      padding-top: 0;
      .l-box {
        width: 100%;
        padding: 65px 0;
        background: transparent;
        .bg-line-left{
          display: none;
        }
      }
      .wr-form {
        margin: 0;
      }
    }
  }
  .career-list {
    p{
      color: #ffffff;
    }
  }
}

@include media-breakpoint-only(md) {
  .careers-page{
    .section-2{
      background: url("../images/bg-careers-s2.jpg") center 0 no-repeat;
      background-size: cover;
      &:before{
        content: '';
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0;
        background: rgba(0,0,0,.5);
      }
    }
    .section-3 {
      padding-top: 0;
      .l-box {
        width: 100%;
        padding: 65px 0;
        background: transparent;
        .bg-line-left{
          display: none;
        }
      }
      .wr-form {
        margin: 0;
      }
    }
  }
  .career-list {
    p{
      color: #ffffff;
    }
  }
}
@include media-breakpoint-only(lg) {
  .careers-page{
    
    .section-2{
      &:before{
        bottom: 62px;
      }
    }
    .section-3 {
      .l-box {
        padding: 65px 45px;
        width: 480px;
      }
      .wr-form {
        margin-left: 45px;
        margin-top: 62px;
      }
    }
  }
}
