.case-page{
  &.wrap{
    overflow: inherit;
  }
  .section{
    padding: 0;
    margin: 0;
  }
  .section-1{
    padding-bottom: 46px;
    .text {
      margin-top: 88px;
    }
    .sub-text {
      margin: 20px 0;
      p {
        font-size: 15px;
        line-height: 175%;
      }
    }
    .wr-logo{
      img{
        display: block;
      }
    }
    .h2{
      margin-top: 25px;
      line-height: 54px;
    }
    .wr-link{
      p{
        font-size: 13px;
        line-height: 175%;
      }
      .link{
        font-size: 15px;
        line-height: 175%;
        font-family: $f-sto-r;
        color: $color-blue;
      }
    }
    .wr-img{
      padding-top: 19px;
      padding-left: 42px;
    }
    .bg-case{
      // background: url("../images/bg-case-s1.png") center 0 no-repeat;
      // width: 657px;
      // height: 470px;
    }
  }
  .section-2{
    padding-bottom: 61px;
  }
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 40px;
  margin-bottom: 40px;
}
.vertical-nav{
  position: relative;
  padding: 10px 45px;
  background: transparent;
  max-width: 385px;
  width: 100%;
  & > li{
    margin-top: 20px;
    &:first-child{
      margin-top: 0;
    }
    & > a{
      font-size: 18px;
      line-height: 27px;
      font-family: $f-sto-r;
      color: $color-dark-blue;

    }
    ul{
      margin-top: 12px;
      a{
        font-size: 15px;
        line-height: 230%;
        color: $main-color-text;
        &:hover{
          color: $color-blue;
        }
      }
    }
  }

  a[data-toggle="collapse"]{
    position: relative;
    padding-right: 19px;
    &:before{
      content: '';
      position: absolute;
      right: 0;
      top: 9px;
      background: url("../images/ico-arr-vert-menu.svg") 0 0 no-repeat;
      width: 9px;
      height: 5px;
      transform: rotate(180deg);
      transition: all .3s;
    }
    &[aria-expanded="true"]{
      &:before{
        top: 8px;
        transform: rotate(0deg);
        transition: all .3s;
      }
    }
  }
}

.wr-description-project{

  .des-section{
    position: relative;
    padding: 40px 0;
    border-bottom: 1px solid #DBE3F7;
    &:last-child{
      border: none;
    }
    .stage{
      margin-top: 30px;
      margin-bottom: 2px;
      font-size: 13px;
      line-height: 23px;
      color: $color-dark-gray;
      opacity: .8;
      &:first-child{
        margin: 0 0 2px;
      }
    }
    .sub-text{
      p,ul{
        margin-top: 20px;
      }
      p{
        line-height: 28px;
        .bold{
          font-family: $f-sto-r;
        }
      }
    }
    .profile-box{
      margin-top: 25px;
      .profile-box-avatar{
        width: 50px;
        height: 50px;
        flex: 0 0 50px;
      }
    }
  }
}

// media

@include media-breakpoint-down(sm) {
  .wr-description-project {
    .des-section {
      .stage{
        font-size: 12px;
      }
      .sub-text {
        p {
          line-height: 24px;
          font-size: 14px;
        }
      }
    }
  }
  .case-page {
    .section-1 {
      padding-bottom: 20px;
      .text {
        margin-top: 60px;
      }
    }
    .section-2 {
      padding-bottom: 40px;
    }
  }
}

@include media-breakpoint-only(md) {
  .vertical-nav {
    padding: 20px 15px;
  }
  .vertical-nav{
    & > li {
      margin-top: 10px;
      & > a {
        font-size: 16px;
        line-height: 24px;
      }
      ul {
        margin-top: 8px;
        a {
          font-size: 12px;
        }
      }
    }
  }
  .wr-description-project {
    .des-section {
      .stage{
        font-size: 12px;
      }
      .sub-text {
        p {
          line-height: 24px;
          font-size: 14px;
        }
      }
    }
  }
  .case-page {
    .section-1 {
      .wr-img {
        padding-left: 0;
      }
      .h2{
        line-height: 130%;
      }
    }
  }
}
@include media-breakpoint-only(lg) {
  .vertical-nav {
    padding: 35px;
  }
}
@include media-breakpoint-only(xl) {
  .wr-description-project {
    margin-left: -31px;
    padding-top: 4px;
  }
}