button,input,textarea{
  padding: 0;
  margin: 0;
  transition: all 0.3s;
  outline: none;
  &:focus{
    outline: none;
  }
}
.form-row {
  margin-right: -10px;
  margin-left: -10px;
}
.form-row>.col, .form-row>[class*=col-] {
  padding-right: 10px;
  padding-left: 10px;
}

.form-default{
  position: relative;
  
  .form-control, input{
    font: 12px/22px $f-sto-b;
    color: $color-dark-gray;
    background: #FFFFFF;
    border: 1px solid #DFE5FA;
    border-radius: 2px;
    margin-bottom: 20px;
    height: 50px;
    padding: 0 15px;
    &:focus {
      box-shadow: 0 0 0 1px rgba(0,123,255,.25);
    }
    &::-webkit-input-placeholder {
      color: $color-dark-gray;
    }
    &::-moz-placeholder {
      color: $color-dark-gray;
    }
    &:-moz-placeholder {
      color: $color-dark-gray;
    }
    &:-ms-input-placeholder {
      color: $color-dark-gray;
    }
  }
  .wr-btn{
    margin-top: 15px;
    @include mediaMax(991) {
      text-align: center;
    }
  }
  button.btn.btn-blue{
    min-width: 220px;
  }
  label.error{
    font-size: 11px;
    color: #b62b2f;
    position: absolute;
    top: 53px;
    margin-bottom: 0;
    line-height: 16px;
  }
}

.form-default-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
  .h5{
    line-height: 34px;
  }
  .h4, .h5{
    padding-right: 15px;
  }
}

// media

@include media-breakpoint-down(sm) {
  .form-default-header{
    .h5{
      line-height: 28px;
    }
  }
}
@include media-breakpoint-only(xs) {
  .form-default-header {
    flex-direction: column;
    align-items: flex-start;
    .h4, .h5{
      padding-right: 0;
      margin-bottom: 20px;
    }
  }
}
@include media-breakpoint-only(md) {

}
@include media-breakpoint-only(lg) {
  .form-default-header{
    .h5{
      line-height: 28px;
    }
  }
}



