.project-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 27px 29px;
  min-height: 208px;
  background: #ffffff;
  border: 1px solid $color-light-gray;
  @include border-radius(1rem);
  margin-bottom: 40px;
  width: 100%;
  height: 100%;
  //block some brands
  @at-root .section-5 & {
    justify-content: start;
  }
}
.multi-collapse-project-card {
  &.collapse {
    @at-root .section-5 & {
      height: 100%;
      padding-bottom: 40px;
    }
  }
}
.col-card:not(.hide) {
  @at-root .section-5 & {
    margin-bottom: 40px;
  }
}
.project-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 35px;
}
.project-card-logo {
  @at-root .section-5 & {
    @include mediaMin(575) {
      height: 175px;
      display: flex;
      width: 100%;
      align-items: center;
    }
  }
}
.project-card-flag {
  width: 34px;
  height: 20px;
  &.project-card-flag-1 {
    background: url("../images/flag/FRANCE 1.svg") center no-repeat;
  }
  &.project-card-flag-2 {
    background: url("../images/flag/Group-3.svg") center no-repeat;
  }
  &.project-card-flag-3 {
    background: url("../images/flag/CANADA 1.svg") center no-repeat;
  }
  &.project-card-flag-4 {
    background: url("../images/flag/SWITZERLAND 1.svg") center no-repeat;
  }
  &.project-card-flag-5 {
    background: url("../images/flag/UNITED KINGDOM 1.svg") center no-repeat;
  }
  &.project-card-flag-6 {
    background: url("../images/flag/BRAZIL 1.svg") center no-repeat;
  }
  &.project-card-flag-7 {
    background: url("../images/flag/FRANCE 1.svg") center no-repeat;
  }
  &.project-card-flag-8 {
    background: url("../images/flag/Group-3.svg") center no-repeat;
  }
}
.project-card-body {
  margin-top: 45px;
  p {
    font-size: 14px;
    line-height: 165%;
    color: $color-dark-gray;
    span {
      font-family: $f-sto-r;
    }
  }
}

// media

@include media-breakpoint-down(sm) {
  .project-card {
    min-height: auto;
    padding: 30px 20px 25px;
  }
  .project-card-body {
    p {
      font-size: 12px;
    }
  }
}
@include media-breakpoint-only(md) {
  .project-card {
    min-height: auto;
  }
}
@include media-breakpoint-only(lg) {
  .project-card {
    min-height: 220px;
    padding: 30px 24px 25px;
  }
  .project-card-body {
    margin-top: 30px;
  }
}
