.page-template-template-home-2-0 {
  //special due David
  .header.navbar {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 999;
    padding: 0;
    &.header_fixed {
      position: fixed;
    }
  }
  .section-title {
    @include mediaMin(991) {
      margin-bottom: 30px;
    }
  }

  .section-1 {
    padding-top: 100px;
    .wrap-img {
      position: absolute;
      top: -103px;
      right: 276px;
      @include mediaMax(1350) {
        position: relative;
        top: 0;
        right: 0;
      }
    }
  }
  //end special due David
  h3 {
    @include mediaMax(767) {
      font-size: 20px;
    }
  }
  .col-custom {
    padding-right: 0;
    padding-left: 0;
  }

  /* section hero */
  .section-1 {
    padding-bottom: 150px;

    @include mediaMax(1350) {
      padding-bottom: 0;
    }
    @include mediaMax(991) {
      padding-bottom: 45px;
      .col-mobile {
        padding-left: 0;
        padding-right: 0;
        .section-title {
          padding: 0 15px;
        }
      }
    }
    .wrap-img {
      width: 455px;
      margin: auto;
      @include mediaMin(1920) {
        width: 526px;
      }

      @include mediaMax(991) {
        display: none !important;
      }
      .img-hero {
        max-width: 438px;
        margin: auto;
      }
    }
    .section-title {
      color: $color-dark-blue;
      font-size: 44px;
      line-height: 58px;
      @include mediaMax(991) {
        font-size: 30px;
        line-height: 36px;
      }
      span {
        display: block;
      }
    }
    .text {
      margin-top: 108px;
      @include mediaMax(991) {
        margin-top: 0;
      }
      @include mediaMax(991) {
        text-align: center;
      }
    }
    .sub-text {
      margin-bottom: 55px;
      @include mediaMax(991) {
        margin-bottom: 30px;
      }
      p {
        font-size: 16px;
        line-height: 18px;
        display: inline-block;
        @include mediaMin(1920) {
          font-size: 18px;
        }
        @include mediaMax(991) {
          font-size: 14px;
          display: block;
        }
      }
    }
    .btn-wrap {
      display: flex;
      flex-direction: column;
      width: 255px;
      max-width: 100%;
      align-items: center;
      @include mediaMax(991) {
        margin: auto;
      }
      .link-hover-underline {
        margin-top: 10px;
      }
    }

    .img-mobile {
      @include mediaMin(992) {
        display: none;
      }
    }
  }
  /* section Featured in */
  .featured-in {
    padding-bottom: 87px;
    @include mediaMax(767) {
      padding-bottom: 40px;
    }
    &-slider {
      margin-right: -15px;
    }
    .section-title {
      margin-bottom: 20px;
      color: $color-dark-blue;
      font-size: 24px;
      line-height: 31px;
      @include mediaMax(767) {
        margin-bottom: 10px;
        font-size: 20px;
      }
    }
    .featured-logo {
      margin-right: 70px;
      min-width: 140px;
      max-width: 180px;
      min-height: 43px;
      display: flex;
      align-items: center;
      @include mediaMax(767) {
        margin-right: 32px;
      }
      &:last-child {
        margin-right: 0;
      }
      img {
        height: 48px;
        object-fit: contain;
      }
    }
  }
  /* section  */
  .decoration-section {
    position: relative;
    height: 250px;
    width: 100%;
    // overflow: hidden;

    &-under-testimonials {
      bottom: -30px;
      @include mediaMax(767) {
        bottom: 15px;
      }
    }

    .canvas-waves {
      position: absolute;
      z-index: 20;
      height: 100%;
      width: 100%;
    }
  }
  /* section How Can We Help You? */
  .section-2 {
    padding-bottom: 120px;
    @include mediaMax(991) {
      padding-top: 0;
      padding-bottom: 30px;
    }
    .text {
      margin-bottom: 50px;
      @include mediaMax(991) {
        margin-top: 65px;
        max-width: 100%;
      }
    }
    .col-main {
      @include mediaMax(991) {
        margin: auto;
      }
    }
    .mobile-block {
      @include mediaMax(991) {
        margin-top: 20px;
      }
    }
    .service-card {
      margin-bottom: 20px;
    }

    .wr-btn {
      @include mediaMax(991) {
        margin-top: 65px;
        text-align: center;
      }
    }
  }

  /* section Recent cases */
  .cases {
    padding-bottom: 200px;
    @include mediaMax(991) {
      padding-bottom: 100px;
    }
    .col-item {
      padding-left: 7px;
      padding-right: 7px;
    }
    .section-title {
      @include mediaMin(1100) {
        margin-bottom: 30px;
      }
    }
    .slick-list {
      padding-top: 80px !important;
      padding-left: 0 !important;
    }
    .slick-slide {
      img {
        width: auto;
        margin: auto;
      }
    }
    .service-card {
      padding: 36px;
      align-items: center;
      margin: 0;

      @include mediaMax(1340) {
        padding: 25px;
      }
      @include mediaMax(375) {
        padding: 15px;
      }

      p {
        margin-top: 18px;
        line-height: 26px;
        // min-height: 78px;
        @include mediaMax(767) {
          margin-top: 0px;
        }
      }
    }
    .blog-img {
      margin-top: -100px;
      @include mediaMax(767) {
        margin-top: -80px;
      }
    }
    .text-center {
      height: 105px;
    }
    .cases-logo {
      margin: 30px auto 0;
      display: flex;
      min-width: 95px;
      max-width: 150px;
      height: 50px;
      // img {
      //   height: 30px;
      // }
    }
    .slider-control {
      @include mediaMax(767) {
        top: -21px;
      }
    }
  }
  /* For whom do we works? */
  .section-3 {
    overflow: initial;
    background-color: $color-light-white;
    @include media-breakpoint-down(sm) {
      background-image: none;
      &:before {
        background: none;
      }
    }
    @include media-breakpoint-only(md) {
      background-image: none;
      &:before {
        background: none;
      }
    }

    .text-box {
      background: none;
      padding: 110px 0 90px 0;
      @include mediaMax(991) {
        padding: 80px 0 10px;
      }
      @include mediaMax(768) {
        padding-top: 20px;
      }
    }
    .text {
      @include mediaMax(991) {
        max-width: 100%;
      }
    }
    .sub-text {
      margin-top: 15px;
      @include mediaMax(991) {
        max-width: 300px;
        margin-top: 35px;
        font-size: 14px;
        color: $main-color-text;
      }
    }
    .img-block {
      position: absolute;
      top: 0px;
      left: 0px;
      img {
        max-width: 967px;
        height: 650px;
      }

      @include mediaMax(991) {
        position: relative;
        // top: -30px;
        // left: 30px;
        img {
          max-width: 100%;
          height: auto;
        }
      }
      @include mediaMax(1100) {
        top: -20px;
      }

      @include mediaMax(1100) {
        top: 160px;
      }
      @include mediaMax(991) {
        top: 0;
        left: 0;
        text-align: center;
      }
    }

    .label-list {
      @include mediaMax(991) {
        margin-top: 20px;
      }
    }

    .label-list-desktop {
      @include mediaMax(991) {
        display: none;
      }
    }
    .label-list-mobile {
      @include mediaMin(992) {
        display: none;
      }
    }
  }

  /* Direct access to most reliable resources */
  .section-4 {
    padding-bottom: 0;
    @include mediaMax(767) {
      padding-top: 60px;
    }
    .section-title {
      max-width: 500px;
      margin-bottom: 70px;
      @include mediaMax(767) {
        max-width: 300px;
        margin-bottom: 30px;
      }
    }
    .col-right {
      @include mediaMax(767) {
        padding-right: 0;
      }
    }
    .list-logo {
      margin-top: 50px;
      @include mediaMax(991) {
        margin-top: 16px;
      }
      &-mobile {
        margin-right: -15px;
      }
    }
  }

  /* Some Brands We Work With */
  .section-5 {
    padding-top: 100px;
    @include mediaMax(767) {
      padding-top: 20px;
    }
    .text {
      max-width: 100%;
      @include mediaMax(767) {
        margin-bottom: 12px;
      }
    }
    .sub-text {
      margin-bottom: 25px;
      @include mediaMax(991) {
        margin-top: 8px;
        margin-bottom: 0;
        line-height: 18px;
      }
    }
    .link-arrow {
      margin-bottom: 25px;
    }
    .slick-slide {
      & > div {
        width: 340px;
        margin: 6px;
        @include mediaMax(375) {
          width: 280px;
        }
      }
    }
    .project-card {
      @include mediaMax(767) {
        padding: 25px;
        margin-bottom: 0;
      }
      &-logo {
        @include mediaMin(575) {
          height: auto;
        }
      }
      &-slider {
        margin-right: -15px;
        margin-left: -6px;
      }
      &-body {
        margin-top: 30px;
      }
    }
    .desktop-project-card {
      @include mediaMax(991) {
        display: none;
      }
    }

    .mobile-project-card {
      @include mediaMin(992) {
        display: none;
      }
    }
    .wr-btn {
      margin-top: 25px;
      text-align: center;
    }
  }
  .section-testimonials {
    .wr-control {
      @include mediaMin(992) {
        top: -55px;
      }
    }
  }

  /* Leadership */
  .section-7 {
    padding-top: 30px;
    border-top: 0;

    .col-lg-3 {
      padding-right: 9px;
      padding-left: 9px;
    }
  }
  /* Let's meet up in */
  .meet-up {
    padding-top: 75px;
    // padding-bottom: 45px;
    @include mediaMax(991) {
      padding-top: 35px;
    }
  }
}

.link-hover-underline {
  color: #3c61e2;
  &:hover {
    text-decoration: underline;
  }
}

.lang-select {
  .wpml-ls-legacy-dropdown {
    width: 40px;

    @include mediaMax(991) {
      width: 36px;
    }
    //li
    .wpml-ls-current-language {
      & > a {
        border-radius: 4px;
      }
      &:hover {
        & > a {
          background: $color-light-white;
          border-radius: 4px 4px 0 0;
        }
        .wpml-ls-sub-menu li:last-child a {
          border-radius: 0 0 4px 4px;
        }
      }
    }
    a {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      background: $color-light-white;
      border: 1px solid $color-light-gray;
      cursor: pointer;
      @include mediaMax(991) {
        height: 36px;
      }
      &:hover {
        background: $color-light-white;
      }
      //selelct arrow
      &.wpml-ls-item-toggle:after {
        display: none;
      }
    }
    .wpml-ls-flag {
      margin-right: 0;
      width: 24px;
      height: 19px;
    }
    //ul
    .wpml-ls-sub-menu {
      border-top: 0;
      z-index: 99999;
      a {
        border-top: 0;
        &:hover {
          background: $color-light-gray;
        }
      }
    }
  }
}

//general set for slick sleder when load
.custom-slider {
  overflow: hidden;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.5s linear;

  &.slick-initialized {
    height: auto;
    overflow: inherit;
    visibility: visible;
    opacity: 1;
  }
}

/* new: header, footer, container */
body {
  .container {
    @include mediaMin(576) {
      max-width: 540px;
    }

    @include mediaMin(768) {
      max-width: 720px;
    }

    @include mediaMin(992) {
      max-width: 1080px;
      // max-width: 1200px;
    }

    @include mediaMin(1340) {
      max-width: 1320px;
    }

    @include mediaMin(1441) {
      max-width: 1455px;
    }
  }
  .btn-mob-wrap {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color-light-white;
    border: 1px solid $color-light-gray;
    border-radius: 4px;
    @include mediaMax(991) {
      height: 36px;
    }
  }
  // navigation bar (header)
  .header.navbar {
    .img-desktop {
      position: absolute;
      top: 0;
      left: 50%;
      max-width: 400px;
      display: none;
      @include mediaMax(1350) {
        display: none;
      }
    }
    .btn-blue {
      margin-left: 12px;
      padding: 12px;
      min-width: 153px;
      border-radius: 4px;
      font-size: 12px;
      text-transform: uppercase;
      line-height: 13px;
      @include mediaMax(991) {
        margin-left: 8px;
      }
    }
    .navbar-nav {
      align-items: center;
      .nav-item {
        margin-left: 48px;
        .nav-link {
          text-transform: uppercase;
          &.dropdown-toggle:after {
            transform: translateY(-50%);
          }
        }
      }
    }

    .burger {
      margin-left: 12px;
      @extend .btn-mob-wrap;
      @include mediaMax(991) {
        margin-left: 8px;
      }
    }
    .btn-blue {
      @include mediaMax(991) {
        display: none;
      }
    }
    //contact icon
    .mobile-icon {
      @extend .btn-mob-wrap;
      @include mediaMin(992) {
        display: none;
      }
    }
  }
  //for mobile lang
  .lang-select {
    margin-left: 590px;
    @include mediaMin(1920) {
      margin-left: 690px;
    }

    @include mediaMax(1350) {
      margin-left: 120px;
    }
    @include mediaMax(991) {
      margin-left: 0;
      margin-right: 8px;
    }
  }

  .btn {
    text-transform: capitalize;
  }

  /* FOOTER */
  .section-9 {
    background: $color-light-white;

    .footer-body {
      border-bottom: 0;

      p,
      a {
        color: $color-dark-blue;
      }
    }

    // .wr-footer-list-col {
    //   margin-right: 15.64%;
    //   @include mediaMax(1200) {
    //     margin-right: 12%;
    //   }
    // }
    .footer-list {
      &.listing {
        margin-bottom: 25px;

        @include mediaMax(575) {
          margin-bottom: 0;
        }
      }

      @include mediaMax(575) {
        padding: 24px 0;
        border-bottom: 1px solid $color-light-gray;
        text-align: center;
      }

      ul {
        @include mediaMax(575) {
          display: none;
          margin-bottom: 0;
        }
      }
    }

    .media {
      @include mediaMax(575) {
        margin: 24px auto 0;
      }
    }

    .wr-media-list {
      @include mediaMax(575) {
        text-align: center;
      }
    }

    .media-list {
      @include mediaMax(575) {
        justify-content: center;
      }
      li {
        @include mediaMax(575) {
          margin-left: 30px;

          &:first-child {
            margin-left: 0;
          }
        }
      }

      a:before {
        color: $color-blue;

        @include mediaMax(575) {
          font-size: 24px;
        }
      }
    }

    //copyright
    .footer-line {
      &-inner {
        @include mediaMax(575) {
          padding: 20px 0;
        }
      }

      p,
      a {
        font-size: 12px;
        line-height: 18px;
        color: $color-dark-blue;
      }
    }

    .footer-modal-link {
      @include mediaMax(575) {
        margin-top: 10px;

        a {
          color: $color-dark-gray;
          font-family: $f-sto-r;
        }
      }
    }
  }
  &.lang-ru {
    .header.navbar {
      .btn-blue {
        text-transform: initial;
      }
    }
  }
}

.email-icon {
  padding: 10px 7px;
}

.bg-gradient {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 620px;
  z-index: -1;
  overflow: hidden;
  @include mediaMax(1440) {
    left: 0;
  }
  .item {
    width: 120%;
    height: 100px;
    position: absolute;
    left: -80px;
    transform: skew(10deg, -30deg);
    &:nth-child(odd) {
      background: linear-gradient(90deg, #3266ee 0%, #32eeaa 100%);
      animation: gradient 5s ease infinite;
      background-size: 200% 200%;
    }
    &:nth-child(even) {
      background: linear-gradient(242.44deg, #e8e8e8 0%, #f7f7f7 100%);
      animation: gradient 5s ease infinite;
      background-size: 200% 200%;
    }
    &-first {
      top: 0px;
    }
    &-second {
      top: 190px;
    }
    &-third {
      top: 380px;
    }
    &-fourth {
      top: 570px;
    }
  }
}
//for section Leadership
.leadership-social {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
  div {
    margin-right: 8px;
    &:last-child {
      margin-right: 0;
    }
  }
  .btn {
    margin: 5px 0;
    color: $color-dark-blue;
    transition: all 0.2s ease-out;
    min-width: auto;
    font-size: 13px;
    padding: 8px 16px;
    border-radius: 0;
    font-weight: 400;
    @include mediaMax(991) {
      padding: 6px 12px;
    }
    svg {
      margin-right: 10px;
    }
  }
  .btn-linkedin {
    a {
      border: 1px solid $color-blue;
      svg {
        color: $color-blue;
      }
      &:hover {
        background: $color-blue;
        color: #fff;
        svg {
          color: #fff;
        }
      }
    }
  }
  .btn-twitter {
    a {
      border: 1px solid #1a8fdd;
      svg {
        color: #1a8fdd;
      }
      &:hover {
        background: #1a8fdd;
        color: #fff;
        svg {
          color: #fff;
        }
      }
    }
  }
}
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}
