.grid-masonry {
  margin-top: 73px;
  .col-second {
    margin-top: -102px;
  }
  .col-third {
    margin-top: -152px;
  }
}
.section-masonry-gray {
  padding: 50px 0;
  .service-card {
    background: 0 0;
  }
  .wr-btn {
    padding-top: 20px;
  }
}
.service-card {
  background: #ffffff;
  position: relative;
  padding: 35px 30px 30px;
  border: 1px solid $color-light-gray;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  @include border-radius(1rem);
  &.service-card-img {
    .service-card-des {
      height: auto;
      padding: 30px;
      display: flex;
      flex-direction: column;
    }
  }
  &:hover {
    background: $color-light-white;
    .link-arrow {
      color: $color-blue;
      &:after {
        background: url("../images/arrow-link-card-hover.svg") 0 0 no-repeat;
      }
    }
    .label-hot {
      background: #f8cdcf;
    }
  }
  &.hot {
    .label-hot {
      display: block;
    }
    .sub-text {
      margin-bottom: 25px;
    }
  }

  .sub-text {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 21px;
    span.p,
    p {
      font: normal 14px/165% $f-sto-b;
      color: $color-dark-gray;
    }
  }
  .icon-wrap {
    width: 35px;
    flex-shrink: 0;
    //icons were small for https://icoda.io/services/payment-solutions/
    @at-root .section-masonry-gray & {
      width: auto;
    }
  }

  .service-card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  
}



// media

@include media-breakpoint-down(sm) {
  .grid-masonry {
    margin-top: 30px;
    .col-first {
      margin-top: 0;
    }
    .col-second {
      margin-top: 0;
    }
    .col-third {
      margin-top: 0;
    }
  }
  .service-card {
    padding: 30px 20px 25px;
    .sub-text {
      span.p {
        font-size: 12px;
      }
    }
  }
}
@include media-breakpoint-only(md) {
  .grid-masonry {
    margin-top: 30px;
    .col-first {
      margin-top: 0;
    }
    .col-second {
      margin-top: -52px;
    }
    .col-third {
      margin-top: 0;
    }
  }
}
@include media-breakpoint-only(lg) {
  .service-card {
    padding: 30px 24px 25px;
  }
}
