.slick-dotted.slick-slider {
  margin-bottom: 0;
  .slick-slide {
    &:focus {
      outline: none;
    }
  }
}
.wr-slider {
  position: relative;
  margin-left: -15px;
  margin-right: -15px;
}
.wr-slider-default-item {
  padding: 0 15px;
}
.slider-default,
.custom-slider {
  position: relative;
  .slick-dots {
    line-height: 0;
    z-index: 3;
    bottom: -57px;
    @at-root .section-stories & {
      @include mediaMax(1024) {
        bottom: -40px;
        width: 50%;
        left: 50%;
        transform: translate(-50%);
        z-index: 10;
      }
    }
    @at-root .section-testimonials & {
      bottom: -36px;
    }
    @at-root .section-services-list & {
      @include mediaMax(1024) {
        bottom: -40px;
        width: 60%;
        left: 50%;
        transform: translate(-50%);
        z-index: 10;
      }
    }
    @at-root .post-template-new-blog-post & {
      position: relative;
      bottom: 0;
      margin-top: 24px;
    }
    @at-root .events-page & {
      position: relative;
      bottom: 0;
      margin-top: 24px;
    }
    li {
      width: 12px;
      height: 12px;
      margin: 0 4px;

      button {
        width: 12px;
        height: 12px;
        border-radius: 50%;
        border: 3px solid $color-light-gray;
        background: $color-light-gray;
        padding: 0;
        &:before {
          content: "";
          display: none;
        }
        &:hover {
          background: $color-blue;
        }
      }
      &.slick-active {
        button {
          background: $color-blue;
        }
      }
    }
  }
}

.wr-control,
.slider-control {
  position: absolute;
  top: -37px;
  right: 15px;
  width: 88px;
  height: 20px;
  @at-root .rtl & {
    left: 15px;
    right: auto;
  }
  @at-root .section-testimonials & {
    top: -20px;
  }
  @at-root .post-template-new-blog-post & {
    top: 3px;
    @include mediaMin(992) {
      top: 13px;
    }
  }
  @at-root .events-page & {
    top: 3px;
    @include mediaMin(992) {
      top: 13px;
    }
  }
  .slick-next,
  .slick-prev {
    width: 40px;
    height: 40px;
    bottom: 0;
    z-index: 4;
    &:before {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      background: url("../images/arrow-circle-blue.svg") 0 0 no-repeat;
      background-size: cover;
    }
    // &:hover {
    //   &:before {
    //     background: url("../images/arrow-link-card-hover.svg") 0 0 no-repeat;
    //     background-size: cover;
    //   }
    // }
  }
  .slick-next {
    right: 0;
    @at-root .rtl & {
      right: unset;
      left: 0;
      &:before {
        transform: scale(-1);
      }
    }
  }
  .slick-prev {
    left: 0;
    @at-root .rtl & {
      right: 0;
      left: unset;
    }
    &:before {
      transform: rotate(180deg);
      @at-root .rtl & {
        transform: rotate(0deg);
      }
    }
  }
}
//redesign arrow (has view space between, dots in middle)
.arrow-control {
  margin-top: 13px;
  position: absolute;
  top: 100%;
  left: 15px;
  right: 15px;
  height: 40px;
  z-index: 9;

  @at-root .section-path & {
    margin-top: -16px;
    right: auto;
    width: 88px;
    @at-root .rtl & {
      right: 15px;
      left: auto;
    }
    @include mediaMax(992) {
      left: 50%;
      transform: translate(-50%);
      @at-root .rtl & {
        right: 50%;
        transform: translate(50%);
      }
    }
  }
  @at-root .section-stories & {
    @include mediaMax(1024) {
      width: auto;
    }
  }

  .slick-next,
  .slick-prev {
    width: 40px;
    height: 40px;
    z-index: 4;

    &:before {
      content: "";
      display: block;
      width: 40px;
      height: 40px;
      background: url("../images/arrow-circle-blue.svg") 0 0 no-repeat;
      background-size: cover;
      @at-root .section-path & {
        background: url("../images/arrow-circle-pink.svg") 0 0 no-repeat;
      }
    }
    // &:hover {
    //   &:before {
    //     background: url("../images/arrow-link-card-hover.svg") 0 0 no-repeat;
    //     background-size: cover;
    //   }
    // }
  }
  .slick-next {
    right: 0;
    @at-root .rtl & {
      right: unset;
      left: 0;
      &:before {
        transform: scale(-1);
      }
    }
  }
  .slick-prev {
    left: 0;
    @at-root .rtl & {
      right: 0;
      left: unset;
    }
    &:before {
      transform: rotate(180deg);
      @at-root .rtl & {
        transform: rotate(0deg);
      }
    }
  }
}

.slider-default-item {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #ffffff;
  border: 1px solid $color-light-gray;
  border-radius: 2px;
  padding: 35px 30px 34px;
  width: 540px;
}
.slider-default-item-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.profile-box {
  display: flex;
  align-items: center;
  margin-right: 15px;
  @at-root .rtl & {
    margin-left: 15px;
    margin-right: 0;
  }
  .profile-box-avatar {
    position: relative;
    width: 75px;
    height: 75px;
    overflow: hidden;
    border-radius: 2px;
    margin-right: 15px;
    flex: 0 0 75px;
    @at-root .rtl & {
      margin-left: 15px;
      margin-right: 0;
    }
    img {
      display: block;
      max-width: 100%;
      width: 100%;
      height: auto;
    }
  }
  .profile-link {
    display: inline-block;
    font: 12px/145% $f-sto-r;
    color: $color-blue;
    margin-top: 5px;
  }
  .h5 {
    line-height: 1.15em;
  }
}
.slider-default-item-body {
  margin-top: 25px;
  p {
    font-size: 14px;
    line-height: 170%;
  }
}

@include media-breakpoint-down(sm) {
  .slider-default {
    .slick-dots {
      bottom: -42px;
    }
  }
  .wr-control {
    top: -32px;
    @at-root .section-testimonials & {
      top: -25px;
    }
  }
}
@include media-breakpoint-only(xs) {
  .slider-default-item-header {
    flex-direction: column-reverse;
    align-items: flex-start;
  }
  .profile-box {
    margin: 20px 0 0;
  }
  .slider-default-item {
    padding: 30px 20px 25px;
  }
}
@include media-breakpoint-only(md) {
  .wr-control {
    top: -26px;
  }
}
