//color

$color-dark-blue: #2d344d;
$color-blue: #3c61e2;
$color-light-blue: #f4f6f9;
$color-dark-gray: #8a9ab5;
$color-light-gray: #e7edff;
$color-light-white: #fafbfd;
$main-color-text: #54658d;
$color-red: #b62b2f;
$gray-100: #f9fafe;
$gray-200: #D5DBF1;
$gray-300: #F5F5FD;
$gray-400: #C4CFF6;
$gray-500: #C5D0EC;
$gray-700: #5E71A3;
$accent: #cb0000;
$white: #fff;
$black: #000;
$pink: #FDE8F1;
$pink-200: #FF9EBF; 
$pink-900: #F13574;
$green: #22DB79;

//font

$f-sto-r: "Stolzl-Regular", sans-serif;
$f-sto-m: "Stolzl-Medium", sans-serif;
$f-sto-bold: "Stolzl-Bold", sans-serif;
$f-sto-b: "Stolzl-Book", sans-serif;
$f-gilroy-b: "Gilroy-Bold", sans-serif;
$f-gilroy-sb: "Gilroy-SemiBold", sans-serif;
$f-gilroy-black: "Gilroy-Black", sans-serif;
$f-druke-wide: "Druk-Wide-Medium", sans-serif;

$border-color: $gray-200;
$separator-color: $gray-500;
$placeholder: $gray-700;
$bg-gray: $gray-300;
