//color

$color-dark-blue: #2d344d;
$color-blue: #3c61e2;
$color-light-blue: #f4f6f9;
$color-dark-gray: #8a9ab5;
$color-light-gray: #e7edff;
$color-light-white: #fafbfd;
$main-color-text: #54658d;
$color-red: #b62b2f;
$gray-100: #f9fafe;
$gray-200: #d5dbf1;
$gray-300: #f5f5fd;
$gray-400: #c4cff6;
$gray-500: #c5d0ec;
$gray-700: #5e71a3;
$accent: #cb0000;
$white: #fff;
$black: #000;
$pink: #fde8f1;
$pink-200: #ff9ebf;
$pink-900: #f13574;
$green: #22db79;

//font

$f-sto-r: "Onest-Regular", sans-serif;
$f-sto-m: "Onest-Bold", sans-serif;
$f-sto-sb: "Onest-SemiBold", sans-serif;
$f-sto-bold: "Onest-ExtraBold", sans-serif;
$f-sto-b: "Onest-Regular", sans-serif;

$f-gilroy-b: "Gilroy-Bold", sans-serif;
$f-gilroy-sb: "Gilroy-SemiBold", sans-serif;
$f-gilroy-black: "Gilroy-Black", sans-serif;
$f-druke-wide: "Druk-Wide-Medium", sans-serif;

$border-color: $gray-200;
$separator-color: $gray-500;
$placeholder: $gray-700;
$bg-gray: $gray-300;
