//color

$color-dark-blue: #2d344d;
$color-blue: #3c61e2;
$color-light-blue: #f4f6f9;
$color-dark-gray: #8a9ab5;
$color-light-gray: #e7edff;
$color-light-white: #fafbfd;
$main-color-text: #54658d;
$color-red: #b62b2f;
$bg-gray: #f9fafe;
$accent: #cb0000;
$white: #fff;
$black: #000;

//font

$f-sto-r: "Stolzl-Regular", sans-serif;
$f-sto-m: "Stolzl-Medium", sans-serif;
$f-sto-b: "Stolzl-Book", sans-serif;
$f-gilroy-b: "Gilroy-Bold", sans-serif;
$f-gilroy-sb: "Gilroy-SemiBold", sans-serif;
$f-gilroy-black: "Gilroy-Black", sans-serif;
$f-druke-wide: "Druk-Wide-Medium", sans-serif;
