.accordion {
  &-item {
    margin-bottom: 20px;
  }
  &-content { 
    margin-top: 20px;
    margin-bottom: 60px;
    padding: 30px;
    width: 100%; 
    height: auto; 
    line-height: 140%;
    overflow: hidden; 
    background-color: $white;
    color: #37384F;
    font-size: 1.125rem;
    display: none; 
    @include mediaMax(768) {
      margin-bottom: 30px;
    }
    p {
      + p {
        margin-top: 1rem;
      }
    }
  }
  .headline {
    color: $color-blue;
    text-decoration: underline;
    font-size: 1.5rem; //24px
    cursor: pointer;
    @include mediaMax(768) {
      font-size: .875rem; //14px
    }
  }
  //block-post-faq
  &-faq {
    @at-root .single-post & {
      margin-bottom: 1.25rem;
      @include mediaMin(991) {
        margin-bottom: 2.5rem;
      }
    }
    .tab {
      @extend .w-100;
      margin-bottom: 0.625rem;
      padding: 1.25rem; //20px
      @include border-radius(1rem);
      border: 1px solid #efeeee;

      @at-root .section-faq-service & {
        padding: 1.125rem 0;
        margin-bottom: 0;
        @include border-radius(0);
        border: 0;
        border-bottom: 1px solid $border-color;
        @include mediaMin(991) {
          padding: 1.5rem 0;
        }
      }
      input {
        position: absolute;
        opacity: 0;
        z-index: -1;

        /* :checked */
        &:checked ~ .tab-content {
          max-height: 100%;
        }
        &[type="checkbox"]:checked + label::after {
          transform: rotate(180deg);
          @at-root .section-faq-service & {
            content: "";
            width: 1rem;
            height: 1rem;
            position: absolute;
            top: 5px;
            right: 0;
            transition: all 0.2s ease-out;
            transform-origin: center;
            background: center / contain no-repeat url("../images/minus-icon.svg");
          }
        }
      }

      label {
        position: relative;
        cursor: pointer;
        display: flex;
        padding-right: 40px;
        font-size: 1.125rem;
        font-family: $f-sto-m;
        margin-bottom: 0;
        color: $color-dark-blue;
        @extend .position-relative;

        @at-root .section-faq-service & {
          line-height: 110%;
          @include mediaMin(991) {
            font-size: 1.25rem;
          }
          
        }
        
        &::after {
          content: "";
          background: center / contain no-repeat url("../images/arrow-down.svg");
          position: absolute;
          top: 5px;
          right: 0;
          width: 18px;
          height: 8px;
          transition: all 0.2s ease-out;
          transform-origin: center;
          @at-root .section-faq-service & {
            width: 1rem;
            height: 1rem;
            background: center / contain no-repeat url("../images/plus-blue-icon.svg");
          }
        }
      }
      &-content {
        max-height: 0;
        overflow: hidden;
        padding-right: 1.25rem; //20px

        p {
          margin-top: 12px;
          font-size: 1rem;
          line-height: 140%;
          @at-root .section-faq-service & {
            line-height: 150%;
            color: $color-dark-blue;
          }
        }
      }
    }
  }
}