.accordion {
  &-item {
    margin-bottom: 20px;
  }
  &-content { 
    margin-top: 20px;
    margin-bottom: 60px;
    padding: 30px;
    width: 100%; 
    height: auto; 
    line-height: 140%;
    overflow: hidden; 
    background-color: $white;
    color: #37384F;
    font-size: 1.125rem;
    display: none; 
    @include mediaMax(768) {
      margin-bottom: 30px;
    }
    p {
      + p {
        margin-top: 1rem;
      }
    }
  }
  .headline {
    color: $color-blue;
    text-decoration: underline;
    font-size: 1.5rem; //24px
    cursor: pointer;
    @include mediaMax(768) {
      font-size: .875rem; //14px
    }
  }
}