.table-of-content {
    @at-root .section-cases-sidebar & {
        .title {
            @extend .fw-semibold;
        }
        .list-table {
            margin: 0;
            list-style-type: decimal;
            line-height: 140%;
        }
        a {
            color: $color-dark-blue;
            font-size: 1rem;
        }
        
    }
}