.section-banner {
  padding: 142px 0 80px;
  @include mediaMax(768) {
    padding: 50px 0;
  }
  &--blog-post {
    padding: 0;
  }
  //old banner
  .banner-box {
    position: relative;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include mediaMin(768) {
      padding: 44px 47px 44px 230px;
    }
    @include mediaMin(991) {
      padding: 44px 47px 44px 270px;
    }
    @include mediaMin(1024) {
      padding: 44px 47px 44px 320px;
    }
    @include mediaMin(1440) {
      padding: 44px 47px 44px 360px;
    }
    @include mediaMin(768) {
      :before {
        content: '';
        position: absolute;
        left: 51px;
        bottom: 0;
        background: url(../images/image-banner.svg) 0 0 no-repeat;
        width: 296px;
        height: 221px;
      }
    }
    
  }
  .btn {
    margin-left: 20px;
    @include media-breakpoint-down(sm) {
      margin: 30px 0 0;
    }
  }
  //update banner (Block banner review)
  .banner {
    margin: auto;
    padding: 44px 47px 44px 30px;
    width: 920px;
    max-width: 100%;
    @include mediaMax(768) {
      padding: 30px;
    }
    
    &-img {
      position: absolute;
      left: 16px;
      bottom: -60px;
      @include mediaMax(768) {
        position: relative;
        left: 0;
        bottom: 0;
      }
    }
    .btn.btn-blue {
      @include mediaMax(991) {
        min-width: 200px;
      }
    }
  }
  .title {
    font-size: 2rem;
    line-height: 120%;
    font-family: $f-sto-bold;
    @at-root .post-template-new-blog-post & {
      font-size: 1.5rem;
      font-family: $f-sto-m;
      color: $color-blue;
      line-height: 110%;
    }
    @include mediaMax(991) {
      font-size: 1.5rem;
      @at-root .post-template-new-blog-post & {
        font-size: 1.25rem;
      }
    }
  }
  .discription {
    p {
      @include mediaMax(768) {
        font-size: 1rem;
      }
    }
  }
  &-review {
    @include border-radius(20px);
    border: 1px solid $border-color;
    padding: 2rem;
    @at-root .post-template-new-blog-post & {
      padding: 1.125rem 1.5rem;
      text-align: center;
      background-position-x: -50%!important;
    }
    @include mediaMin(991) {
      padding: 3.75rem;
      @at-root .post-template-new-blog-post & {
        padding: 2rem 3.75rem;
        text-align: left;
        background-position-x: center;
      }
    }
    .btn {
      margin-left: 0;
      margin-top: 1rem;
      @include mediaMin(1200) {
        margin-top: 40px;
      }
      @at-root .post-template-new-blog-post & {
        margin-top: 20px;
      }
    }
    .banner-img {
      width: 264px;
      position: relative;
      left: auto;
      right: auto;
      bottom: auto;
      width: 264px;
      max-width: 100%;
      margin-top: 1rem;
      @at-root .post-template-new-blog-post & {
        width: 280px;
        @include mediaMax(991) {
          display: none;
        }
      }
      @include mediaMin(1341) {
        position: absolute;
        right: 60px;
        bottom: 40px;
      }
      @at-root .post-template-new-blog-post & {
        transform: rotate(-15deg);
      }
    }
    .btn.btn-blue {
      font-size: 1rem;
      @at-root .post-template-new-blog-post & {
        min-width: auto;
      }
      @include mediaMax(575) {
        min-width: 100%;
        @at-root .post-template-new-blog-post & {
          max-width: auto;
        }
      }
    }
  }
}

.section-case-cta {
  text-align: center;
  @at-root .post-template-new-case & {
    margin: 3rem 0;
    @include mediaMin(992) {
      margin: 2.5rem 0;
    }
  }
  .banner {
    background-color: $gray-300;
    @include border-radius(20px);
    width: 100%;
    padding: 1.5rem 1.125rem;
    @include mediaMin(992) {
      padding: 1.75rem 1.125rem;
    }
  }
  .title {
    font-family: $f-sto-m;
    margin-bottom: .75rem;
    @include mediaMin(992) {
      margin-bottom: .5rem;
      font-size: 1.5rem;
      color: $color-blue;
      line-height: 110%;
    }
  }
  .discription {
    font-size: .9375rem;
    line-height: 150%;
    color: $color-dark-blue;
    @include mediaMin(992) {
      font-size: 1rem;
    }
  }
  .btn {
    margin-top: 0;
    margin-left: 0;
    // @include mediaMin(992) {
    //   margin-top: 0;
    // }
    &.btn-blue {
      min-width: 193px;
    }
  }
}