//used for page book
.block-video-content {
  &-inner {
    background-color: $gray-300;
    @include border-radius(1.25rem);
    padding: 24px 0;
    @include mediaMin(991) {
      padding: 0;
    }
  }
  &__info {
    @include mediaMin(991) {
      padding: 30px 0;
    }
    @include mediaMin(1441) {
      padding: 40px 0;
    }
  }
  .author-meta,
  .description {
    color: $color-dark-blue;
    font-size: 1rem;
    line-height: 150%;
  }
  .avatar {
    @include border-radius(50%);
    border: 2px solid #fff;
  }
  &__iframe {
    width: 100%;
    max-width: 515px;
    margin: 0 auto;
    @include mediaMin(991) {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  iframe {
    border: 0;
    height: 217px;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    z-index: 10;
    @include border-radius(12px);
    width: 94%;
    margin: auto;
    @include mediaMin(991) {
      width: 100%;
      height: 314px;
    }
  }
}
