.cases-new {
  padding-bottom: 260px;
  @include mediaMax(991) {
    padding-bottom: 45px;
  }
  .case-list {
    sup {
      font-size: 14px;
      right: -1em;
      top: -1.5rem;
      color: #000000;
    }
    p {
      font-size: 16px;
      line-height: 180%;
      color: #000000;
      @include mediaMax(991) {
        margin-top: 6px;
        font-size: 14px;
        line-height: 140%;
      }
    }
  }
  &-descktop {
    @include mediaMax(991) {
      display: none;
    }
    .case-list {
      li {
        position: relative;
        border-top: 1px solid rgba(45, 52, 77, 0.1);
        border-bottom: 1px solid rgba(45, 52, 77, 0.1);

        &:hover {
          .case-img {
            top: -100%;
          }
        }
        &:first-child {
          border-top: 0;
        }

        // &:nth-child(2) {
        //   &:hover {
        //     .case-img-qube {
        //       top: -155px;
        //     }
        //   }
        // }

        // &:nth-child(3) {
        //   &:hover {
        //     .case-img-starly {
        //       top: -245px;
        //     }
        //   }
        // }

        // &:nth-child(4) {
        //   &:hover {
        //     .case-img-bot {
        //       top: -330px;
        //     }
        //   }
        // }

        // &:nth-child(5) {
        //   &:hover {
        //     .case-img-eno {
        //       top: -425px;
        //     }
        //   }
        // }

        // &:nth-child(6) {
        //   &:hover {
        //     .case-img-finarm {
        //       top: -510px;
        //     }
        //   }
        // }

        // &:nth-child(7) {
        //   &:hover {
        //     .case-img-gmeez {
        //       top: -592px;
        //     }
        //   }
        // }

        // &:nth-child(8) {
        //   &:hover {
        //     .case-img {
        //       top: -675px;
        //     }
        //   }
        // }

        &:hover {
          border-color: $color-blue;

          p,
          .case-img {
            opacity: 1;
            visibility: visible;
            font-size: initial;
            cursor: url("../images/cases/explore-lg.png"), auto;
          }

          a {
            color: $color-blue;
            // padding: 42px 0;
            padding: 30px 0;
          }

          sup {
            color: $color-blue;
          }
        }
      }

      a {
        display: block;
        padding: 22px 0;
        font-size: 32px;
        line-height: 130%;
        color: $color-dark-blue;
        span {
          width: 50%;
          display: inline-block;
        }
      }

      p {
        opacity: 0;
        visibility: hidden;
        font-size: 0;
        // position: absolute;
        // left: 29%;
        // top: 50%;
        // transform: translateY(-50%);
        // width: 275px;
        // max-width: 100%;
        transition: all 0.3s ease-out;

        // @include mediaMax(1440) {
        //   left: 26%;
        // }
      }

      .case-img {
        opacity: 0;
        visibility: hidden;
        position: absolute;
        z-index: 1;
        width: 526px;
        right: 7%;
        top: 0;
        transition: all 0.3s ease-out;
        @at-root .rtl & {
          left: 7%;
          right: auto;
        }

        @include border-radius(8px);

        @include mediaMax(1440) {
          right: 3%;
          @at-root .rtl & {
            left: 3%;
            right: auto;
          }
        }

        @include mediaMax(1340) {
          width: 426px;
          right: 1%;
          @at-root .rtl & {
            left: 1%;
            right: auto;
          }
        }

        img {
          @include border-radius(8px);
          box-shadow: 7px -7px 0px 0px rgb(60, 97, 226);
          cursor: url("../images/cases/explore-lg.png"), auto;
        }
      }

      //for parallax
      .card {
        transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);

        &-active {
          transition: transform 0.4s cubic-bezier(0, 0, 0.2, 1),
            filter 0.15s cubic-bezier(0, 0, 0.2, 1);
        }
      }
    }
  }

  &-mobile {
    @include mediaMin(992) {
      display: none;
    }
    .case-list {
      margin-right: -15px;
      margin-left: -7px;
      li {
        width: 320px;
        padding-left: 7px;
        padding-right: 7px;
        @include mediaMax(768) {
          width: 288px;
        }
      }
      sup {
        top: -10px;
      }
    }

    .case-title {
      margin-top: 13px;
      display: block;
      font-size: 24px;
      line-height: 130%;
      color: #000;
    }
    .slick-list {
      padding-top: 5px;
    }
    .slick-current {
      .case-title,
      sup {
        color: $color-blue;
      }
      .case-img {
        img {
          box-shadow: 3px -3px 0px 0px rgb(60, 97, 226);
          transition: all 0.2s ease-out;
        }
      }
    }
  }
  h3.section-title {
    margin-bottom: 38px;
    @include mediaMax(768) {
      margin-bottom: 15px;
    }
  }
}
