.cases-category {
    overflow: auto;
    margin-right: -15px;
    &-title {
        color: $color-dark-blue;
        font-size: .875rem;
    }
    &-list {
        gap: 10px;
        flex-wrap: wrap;
        @at-root .article-author & {
            gap: 6px;
        }

    }
    &-item {
        a {
            display: block;
            padding: .375rem .875rem;
            @include border-radius(.375rem);
            border: 1px solid $pink-900;
            background: rgba(255, 255, 255, 0.70);
            color: $pink-900;
            font-size: .875rem;
            transition: box-shadow .3s ease-out;
            line-height: 115%;
            &:hover {
                box-shadow: 0 4px 20px 0 rgba(8, 34, 101, .15);
            }
        }
    }
}