.label-hot {
  display: none;
  position: relative;
  width: auto;
  background: #f8d8d9;
  border-radius: 2px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-size: 13px;
  line-height: 13px;
  font-family: $f-sto-m;
  color: $color-red;
  padding: 6px 6px 6px 20px;
  transition: all 0.3s;
  height: 25px;
  &:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translate(0, -53%);
    width: 7px;
    height: 10px;
    background: url("../images/ico-label-hot.svg") 0 0 no-repeat;
  }
}