.social-box {
  ul {
    li {
      + li {
        margin-top: 0.5rem;
        @include mediaMax(991) {
          margin-top: 0;
          margin-left: 0.5rem;
        }
      }
    }
    img {
      transition: transform 0.2s linear;
      width: 40px;
      &:hover {
        transform: scale(1.1);
      }
    }
    a {
      transition: color 0.2s linear;
    }
  }
}
