/* Let's meet up in */
.meet-up {
  .row {
    padding: 0 80px;

    @include mediaMax(1440) {
      padding: 0;
    }
  }

  .section-title {
    margin-bottom: 50px;
    text-align: center;

    @include mediaMax(767) {
      margin-bottom: 17px;
    }
    @include mediaMax(575) {
      text-align: left;
    }
  }

  // .list-countrys {
  //   font-size: 18px;
  //   line-height: 30px;
  //   color: #18232F;

  //   @include mediaMax(991) {
  //     column-count: 2;
  //     // -moz-column-count: 2;/* Firefox */
  //     // -webkit-column-count: 2;/* Safari and Chrome */
  //   }

  //   @include mediaMax(767) {
  //     font-size: 14px;
  //     line-height: 18px;
  //   }

  //   li {
  //     padding-bottom: 18px;
  //   }

  //   strong {
  //     font-family: $f-sto-m;
  //   }
  // }

  .map {
    position: absolute;
    margin-top: -330px;
    z-index: -1;
    @include mediaMax(1340) {
      margin-top: -250px;
    }
    @include mediaMax(1100) {
      margin-top: -190px;
    }
    @include mediaMax(767) {
      margin-top: -90px;
    }
    @include mediaMax(540) {
      left: -70px;
    }
    @include mediaMax(460) {
      left: -120px;
    }
  }
  &-inner {
    position: relative;
    height: 400px;
    width: 1300px;
    @include mediaMax(1340) {
      width: 1100px;
    }
    @include mediaMax(991) {
      height: 300px;
      width: 700px;
    }
    @include mediaMax(767) {
      width: 600px;
    }
    @include mediaMax(460) {
      width: 530px;
    }
    @include mediaMax(374) {
      width: 500px;
    }
  }
}

.location-info {
  padding: 8px 20px;
  position: absolute;
  background-color: $white;
  border-radius: 8px;
  @include mediaMax(1440) {
    padding: 6px 12px;
  }
  @include mediaMax(991) {
    padding: 3px;
    border-radius: 3px;
  }
  &::before {
    content: "";
    position: absolute;
    border: 5px solid transparent;
    border-bottom-color: $white;
  }

  .title-city {
    font-size: 16px;
    line-height: 135%;
    color: $color-dark-blue;
    font-family: $f-sto-m;
    @include mediaMax(1440) {
      font-size: 12px;
    }
    @include mediaMax(991) {
      font-size: 8px;
    }
  }

  .title-country {
    font-size: 12px;
    line-height: 135%;
    color: $color-dark-gray;
    @include mediaMax(1440) {
      font-size: 10px;
    }
    @include mediaMax(991) {
      font-size: 7px;
    }
  }

  &-venezuela {
    top: 255px;
    left: 345px;
    &::before {
      left: 25px;
      top: -10px;
      @include mediaMax(460) {
        left: 5px;
        top: -9px;
      }
    }
    @include mediaMax(1440) {
      top: 255px;
      left: 346px;
    }

    @include mediaMax(1340) {
      top: 245px;
      left: 289px;
    }
    @include mediaMax(1100) {
      top: 305px;
      left: 290px;
    }
    @include mediaMax(991) {
      top: 128px;
      left: 173px;
    }
    @include mediaMax(767) {
      top: 188px;
      left: 145px;
    }
    @include mediaMax(540) {
      top: 185px;
      left: 74px;
    }
    @include mediaMax(460) {
      top: 150px;
      left: 24px;
    }
    @include mediaMax(374) {
      top: 138px;
      left: 15px;
    }
    // svg {
    //   position: absolute;
    //   top: -33px;
    //   left: 22px;
    // }
  }
  &-poland-war {
    top: 25px;
    left: 705px;
    &::before {
      left: -10px;
      bottom: 37px;
      border: 5px solid transparent;
      border-right-color: $white;
      @include mediaMax(1440) {
        bottom: 27px;
      }
      // @include mediaMax(1340) {

      // }

      @include mediaMax(991) {
        display: none;
      }
    }
    // @include mediaMax(1440) {
    //   top: 10px;
    // }

    @include mediaMax(1340) {
      top: 50px;
      left: 598px;
    }
    @include mediaMax(1100) {
      top: 110px;
    }
    @include mediaMax(991) {
      top: 3px;
      left: 380px;
    }
    @include mediaMax(767) {
      top: 72px;
      left: 325px;
    }
    @include mediaMax(540) {
      left: 255px;
    }
    @include mediaMax(460) {
      top: 53px;
      left: 167px;
    }
    @include mediaMax(374) {
      top: 46px;
      left: 151px;
    }
  }
  &-germany-mainz {
    top: -43px;
    right: 645px;
    &::before {
      right: 7px;
      top: 54px;
      border: 5px solid transparent;
      border-top-color: #fff;
      @include mediaMax(1440) {
        top: 42px;
      }
      @include mediaMax(1340) {
        top: 41px;
      }
      @include mediaMax(991) {
        display: none;
      }
    }

    @include mediaMax(1440) {
      top: -25px;
      right: 640px;
    }

    @include mediaMax(1340) {
      top: -5px;
      right: 545px;
    }
    @include mediaMax(1100) {
      bottom: 305px;
      top: auto;
    }
    @include mediaMax(991) {
      bottom: 306px;
      right: 345px;
    }
    @include mediaMax(767) {
      bottom: 240px;
      right: 295px;
    }
    @include mediaMax(540) {
      right: 365px;
    }
    @include mediaMax(460) {
      bottom: 262px;
      right: 380px;
    }
    @include mediaMax(374) {
      bottom: 270px;
      right: 370px;
    }
  }
  &-poland-wro {
    top: -34px;
    right: 530px;
    &::before {
      right: 90px;
      top: 54px;
      border: 5px solid transparent;
      border-top-color: #fff;
      @include mediaMax(1440) {
        right: 60px;
        top: 42px;
      }
      @include mediaMax(1340) {
        right: 60px;
        top: 41px;
      }
      @include mediaMax(991) {
        display: none;
      }
    }

    @include mediaMax(1440) {
      top: -25px;
      right: 560px;
    }

    @include mediaMax(1340) {
      top: 5px;
      right: 465px;
    }
    @include mediaMax(1100) {
      bottom: 292px;
      top: auto;
    }
    @include mediaMax(991) {
      bottom: 302px;
      right: 300px;
    }
    @include mediaMax(767) {
      bottom: 230px;
      right: 250px;
    }
    @include mediaMax(540) {
      right: 322px;
    }
    @include mediaMax(460) {
      bottom: 249px;
      right: 337px;
    }
    @include mediaMax(374) {
      bottom: 255px;
      right: 324px;
    }
  }
  &-germany {
    top: -30px;
    left: 560px;
    &::before {
      left: 82px;
      bottom: -9px;
      border-top-color: #fff;
      border-bottom-color: transparent;
      @include mediaMax(1340) {
        left: 52px;
      }
      @include mediaMax(991) {
        left: 23px;
      }
    }

    @include mediaMax(1440) {
      left: 588px;
      top: -20px;
    }

    @include mediaMax(1340) {
      top: 10px;
      left: 490px;
    }
    @include mediaMax(1100) {
      top: 70px;
    }
    @include mediaMax(991) {
      top: -26px;
      left: 320px;
    }
    @include mediaMax(767) {
      top: 46px;
      left: 270px;
    }
    @include mediaMax(540) {
      left: 200px;
    }
    @include mediaMax(460) {
      top: 27px;
      left: 110px;
    }
    @include mediaMax(374) {
      top: 18px;
      left: 100px;
    }
    // svg {
    //   position: absolute;
    //   top: -30px;
    //   left: 20px;
    // }
  }

  &-georgia {
    top: 60px;
    left: 780px;
    &::before {
      left: -10px;
      bottom: 15px;
      border: 5px solid transparent;
      border-right-color: $white;

      @include mediaMax(991) {
        display: none;
      }
    }

    @include mediaMax(1440) {
      top: 70px;
    }

    @include mediaMax(1340) {
      top: 85px;
      left: 660px;
    }
    @include mediaMax(1100) {
      top: 145px;
    }
    @include mediaMax(991) {
      top: 18px;
      left: 420px;
    }
    @include mediaMax(767) {
      top: 95px;
      left: 360px;
    }
    @include mediaMax(540) {
      left: 290px;
    }
    @include mediaMax(460) {
      top: 70px;
      left: 200px;
    }
    @include mediaMax(374) {
      top: 57px;
      left: 180px;
    }
    // svg {
    //   position: absolute;
    //   top: 65px;
    //   left: 9px;
    //   @include mediaMax(374) {
    //     top: 37px;
    //     left: -22px;
    //     width: 7px;
    //   }
    // }
  }
  &-japan {
    top: 133px;
    right: 150px;
    &::before {
      left: 44px;
      top: -10px;
      @include mediaMax(1340) {
        left: 44px;
      }
    }
    @include mediaMax(1440) {
      right: 180px;
    }

    @include mediaMax(1340) {
      top: 143px;
      right: 150px;
    }
    @include mediaMax(1100) {
      top: 203px;
    }
    @include mediaMax(991) {
      top: 63px;
      right: 80px;
    }
    @include mediaMax(767) {
      top: 126px;
      right: 76px;
    }
    @include mediaMax(540) {
      right: 146px;
    }
    @include mediaMax(460) {
      top: 102px;
      right: 186px;
    }
    @include mediaMax(374) {
      top: 92px;
      right: 178px;
    }
    // svg {
    //   position: absolute;
    //   top: -28px;
    //   left: 69px;
    // }
  }
  &-antalya {
    top: 128px;
    left: 702px;
    &::before {
      left: 17px;
      bottom: 53px;
      border: 5px solid transparent;
      border-bottom-color: #fff;
      @include mediaMax(1440) {
        // left: 70px;
        bottom: 41px;
      }
      @include mediaMax(1340) {
        left: 18px;
        bottom: 40px;
      }
      @include mediaMax(1100) {
        display: none;
      }
    }
    &.location-info {
      @include mediaMin(1440) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    // @include mediaMax(1440) {
    //   top: 128px;
    //   left: 660px;
    // }

    @include mediaMax(1340) {
      top: 138px;
      left: 590px;
    }
    @include mediaMax(1100) {
      top: 197px;
      // left: 545px;
    }
    @include mediaMax(991) {
      top: 55px;
      left: 380px;
    }
    @include mediaMax(767) {
      top: 122px;
      left: 325px;
    }
    @include mediaMax(540) {
      left: 257px;
    }
    @include mediaMax(460) {
      top: 98px;
      left: 166px;
    }
    @include mediaMax(374) {
      top: 87px;
      left: 150px;
    }
  }
  &-germany-stuttgart {
    top: 13px;
    left: 507px;
    &::before {
      left: 110px;
      bottom: 10px;
      border: 5px solid transparent;
      border-left-color: #fff;
      @include mediaMax(1440) {
        left: 84px;
      }
      // @include mediaMax(1340) {
      //   left: 57px;
      //   bottom: 24px;
      // }
      @include mediaMax(991) {
        display: none;
      }
    }
    &.location-info {
      @include mediaMin(1440) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    @include mediaMax(1440) {
      left: 537px;
      top: 20px;
    }

    @include mediaMax(1340) {
      top: 38px;
      left: 440px;
    }
    @include mediaMax(1100) {
      top: 97px;
      left: 445px;
    }
    @include mediaMax(991) {
      top: -4px;
      left: 290px;
    }
    @include mediaMax(767) {
      top: 63px;
      left: 242px;
    }
    @include mediaMax(540) {
      left: 172px;
    }
    @include mediaMax(460) {
      top: 40px;
      left: 88px;
    }
    @include mediaMax(374) {
      top: 31px;
      left: 74px;
    }
  }
  &-swiss {
    top: 69px;
    left: 535px;
    &::before {
      left: 78px;
      bottom: 40px;
      border: 5px solid transparent;
      border-left-color: #fff;
      @include mediaMax(1440) {
        left: 60px;
        bottom: 27px;
      }
      // @include mediaMax(1340) {
      //   left: 57px;
      //   bottom: 24px;
      // }
      @include mediaMax(991) {
        display: none;
      }
    }
    &.location-info {
      @include mediaMin(1440) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    @include mediaMax(1440) {
      left: 567px;
      top: 63px;
    }

    @include mediaMax(1340) {
      top: 80px;
      left: 465px;
    }
    @include mediaMax(1100) {
      top: 140px;
      left: 470px;
    }
    @include mediaMax(991) {
      top: 23px;
      left: 308px;
    }
    @include mediaMax(767) {
      top: 92px;
      left: 260px;
    }
    @include mediaMax(540) {
      left: 190px;
    }
    @include mediaMax(460) {
      top: 68px;
      left: 103px;
    }
    @include mediaMax(374) {
      top: 58px;
      left: 88px;
    }
  }
  &-italy {
    top: 108px;
    left: 615px;
    &::before {
      left: 40px;
      bottom: 52px;
      border: 5px solid transparent;
      border-bottom-color: #fff;
      @include mediaMax(1440) {
        left: 31px;
        bottom: 41px;
      }
      @include mediaMax(1340) {
        left: 24px;
        // bottom: 24px;
      }
      @include mediaMax(1100) {
        display: none;
      }
    }
    &.location-info {
      @include mediaMin(1440) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    @include mediaMax(1440) {
      // top: 73px;
      left: 622px;
    }

    @include mediaMax(1340) {
      top: 120px;
      left: 528px;
    }
    @include mediaMax(1100) {
      top: 180px;
      // left: 485px;
    }
    @include mediaMax(991) {
      top: 45px;
      left: 342px;
    }
    @include mediaMax(767) {
      top: 112px;
      left: 295px;
    }
    @include mediaMax(540) {
      left: 225px;
    }
    @include mediaMax(460) {
      top: 89px;
      left: 135px;
    }
    @include mediaMax(374) {
      top: 77px;
      left: 120px;
    }
  }

  &-china {
    bottom: 250px;
    right: 250px;
    &::before {
      left: 86px;
      bottom: -10px;
      border: 5px solid transparent;
      border-top-color: #fff;
      @include mediaMax(1440) {
        left: 61px;
        bottom: -10px;
      }
      @include mediaMax(991) {
        display: none;
      }
    }

    @include mediaMax(1440) {
      bottom: 248px;
      right: 260px;
    }

    @include mediaMax(1340) {
      bottom: 245px;
      right: 220px;
    }
    @include mediaMax(1100) {
      bottom: 185px;
      right: 216px;
    }
    @include mediaMax(991) {
      bottom: 230px;
      right: 140px;
    }
    @include mediaMax(767) {
      bottom: 170px;
      right: 120px;
    }
    @include mediaMax(540) {
      bottom: 167px;
      right: 190px;
    }
    @include mediaMax(460) {
      bottom: 193px;
      right: 225px;
    }
    @include mediaMax(374) {
      bottom: 205px;
      right: 220px;
    }
  }
  &-thailand {
    bottom: 150px;
    right: 350px;
    &::before {
      left: 98px;
      bottom: 15px;
      border: 5px solid transparent;
      border-left-color: #fff;
      @include mediaMax(1440) {
        left: 68px;
        bottom: 15px;
      }
      @include mediaMax(1340) {
        display: none;
      }
    }

    @include mediaMax(1440) {
      bottom: 155px;
      right: 350px;
    }

    @include mediaMax(1340) {
      bottom: 155px;
      right: 300px;
    }
    @include mediaMax(1100) {
      bottom: 95px;
    }
    @include mediaMax(991) {
      bottom: 175px;
      right: 190px;
    }
    @include mediaMax(767) {
      bottom: 120px;
      right: 160px;
    }
    @include mediaMax(540) {
      bottom: 120px;
      right: 230px;
    }
    @include mediaMax(460) {
      bottom: 150px;
      right: 263px;
    }
    @include mediaMax(374) {
      bottom: 160px;
      right: 255px;
    }
  }
}
