.mega-menu {
  width: 100%;
  background: rgba(255, 255, 255, 0.98);
  transition: 0.5s;
  display: none;
  @include mediaMax(991) {
    position: fixed;
  }

  &.opened {
    display: block;
    left: 0;
    top: 51px;
    z-index: 9999;
    height: 100vh;
    @include mediaMax(991) {
      overflow: scroll;
    }
    nav {
      overflow: scroll;
      height: 100vh;
      padding-bottom: 100px;
    }
  }
  @include mediaMin(991) {
    display: flex;
    justify-content: center;
    background-color: transparent;
  }
  a {
    color: $color-dark-blue;
    display: inline-block;
  }

  .main-menu {
    padding: 0 15px;
    @include mediaMin(991) {
      display: flex;
      padding: 0;
    }
    > .menu-item {
      padding: 14px 0;
      border-bottom: 1px solid $border-color;
      @include mediaMin(992) {
        padding: 30px 10px;
        font-size: 13px;
        border-bottom: none;
      }
      @include mediaMin(1201) {
        padding: 30px 12px;
        font-size: 15px;
      }

      &-has-children {
        .custom-arrow {
          @include mediaMax(991) {
            position: absolute;
            right: 0;
            top: 0;
            padding: 25px 0 22px 20px;
          }
        }
        &.opened {
          display: block;
          position: relative;
        }
      }

      &:hover {
        > a {
          color: $color-blue;
          transition: color 0.3 ease;
        }
      }
    }
  }
  .menu-item {
    display: flex;
    align-items: center;

    @extend .fw-semibold;
    @include mediaMax(991) {
      position: relative;
    }
    &-has-children {
      > .sub-menu {
        gap: 32px;
        justify-content: center;
        @include mediaMax(991) {
          gap: 24px;
          display: none;
        }
      }
      &.opened {
        .custom-arrow {
          &:after {
            transform: rotate(180deg);
          }
        }
      }
      &:hover {
        .sub-menu {
          @include mediaMin(992) {
            display: flex;
          }
        }
        .custom-arrow {
          @include mediaMin(992) {
            &:after {
              transform: rotate(180deg);
            }
          }
        }
      }
    }
  }
  .sub-menu {
    @include mediaMin(992) {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      z-index: 1000;
      display: none;
      padding: 1.5rem;
      border-bottom: 1px solid $border-color;
      background: rgba(255, 255, 255, 0.9);
      backdrop-filter: blur(5px);
      line-height: 115%;
      border-top: 1px solid $border-color;
    }
    &.opened {
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 8px 0;
      ul {
        padding: 0;
      }
    }
    .menu-item {
      @include mediaMax(991) {
        font-size: 15px;
      }
    }
    &-col {
      @include mediaMin(991) {
        width: 310px;
      }
    }
    ul {
      padding: 0 32px;
    }
    .second-col {
      @include mediaMin(992) {
        border-left: 1px solid $border-color;
      }
    }
    li:not(.sub-menu-col) {
      + li {
        margin-top: 0.5rem;
      }
    }
    &-title {
      text-transform: uppercase;
      margin-bottom: 12px;
      @include mediaMax(991) {
        font-size: 13px;
      }
    }
    &-banner {
      width: 278px;
      max-width: 100%;
      padding: 1rem;
      @include border-radius(8px);
      background-color: $bg-gray;
      @include mediaMax(991) {
        width: 100%;
      }
      .title {
        font-size: 15px;
        line-height: 115%;
        color: $color-blue;
      }
      .description {
        font-size: 13px;
        line-height: 140%;
        margin: 8px 0 14px;
        color: $color-dark-blue;
      }
    }
    .sub-menu-media {
      margin: 0;
      padding: 0;
      li + li {
        margin-top: 4px;
      }
    }
  }
  .book-image {
    justify-content: initial;
    img {
      width: 91px;
      height: auto;
    }
  }
  .book-quote {
    width: 220px;
    margin: 0;
    position: relative;
    bottom: 75px;
    right: -30px;
    background-color: $bg-gray;
    padding: 12px 16px;
    @include mediaMax(991) {
      bottom: 0;
      right: -30px;
      margin-top: -60px;
      width: 90%;
    }
    .quote {
      padding: 0;
      font-size: 14px;
      line-height: 120%;
      &:before {
        display: none;
      }
    }
  }
  .book-action {
    margin-top: 10px;
    .btn.btn-blue {
      border-radius: 0 4px 4px 0 !important;
    }
  }
  .book-price {
    font-size: 0.75rem;
    padding-left: 12px;
  }
  .btn.btn-blue {
    margin-left: 0 !important;
    min-width: auto !important;
  }
  .menu-item-has-bg {
    @include mediaMin(992) {
      border-radius: 24px;
      background: rgba(197, 208, 236, 0.3);
      padding: 7px 10px;
    }
  }
  .has-icon {
    margin-right: 2px;
    &:before {
      content: "";
      display: block;
      width: 21px;
      height: 21px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjEiIGhlaWdodD0iMjEiIHZpZXdCb3g9IjAgMCAyMSAyMSIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTkgMkM5LjIwODUyIDIgOS4zMTM0MyAyLjI0ODEyIDkuMTg4NzUgMi40MTUyNkM4LjkzMzEyIDIuNzU3OTQgOC43MTMzNCAzLjEyODg3IDguNTM0NzMgMy41MjI1QzguMzk0NTkgMy44MzEzNiA4LjExMjk3IDQuMDU2MzkgNy43ODA4IDQuMTI0OTVDNS4wNTE3MiA0LjY4ODIgMyA3LjEwNDA3IDMgMTBDMyAxMy4zMTM3IDUuNjg2MjkgMTYgOSAxNkMxMS40MzAxIDE2IDEzLjUyMSAxNC41NTQ3IDE0LjQ2NCAxMi40NzczQzE0LjYwNDMgMTIuMTY4MSAxNC44OTY4IDExLjk0MTEgMTUuMjI5MyAxMS44NzE5QzE1Ljk0NjMgMTEuNzIyOCAxNi42OTY1IDEyLjMwMzkgMTYuNDIzOCAxMi45ODM1QzE2LjI1NjMgMTMuNDAxIDE2LjA1NDcgMTMuODAxIDE1LjgyMjIgMTQuMTgwMUMxNS41NTg3IDE0LjYwOTkgMTUuNTg3NyAxNS4xNzI4IDE1Ljk0NDEgMTUuNTI5M0wxOC43MDcgMTguMjkzQzE5LjA5NzUgMTguNjgzNSAxOS4wOTc1IDE5LjMxNjUgMTguNzA3IDE5LjcwN0MxOC4zMTY1IDIwLjA5NzUgMTcuNjgzNSAyMC4wOTc1IDE3LjI5MyAxOS43MDdMMTQuNTI5MyAxNi45NDQxQzE0LjE3MjggMTYuNTg3NyAxMy42MDk5IDE2LjU1ODYgMTMuMTgwMyAxNi44MjI0QzExLjk2MzggMTcuNTY5MyAxMC41MzIxIDE4IDkgMThDNC41ODE3MiAxOCAxIDE0LjQxODMgMSAxMEMxIDUuNTgxNzIgNC41ODE3MiAyIDkgMloiIGZpbGw9IiMyRDM0NEQiLz4KPHBhdGggZD0iTTEyLjc1ODcgMTEuOTU0QzEyLjc5MDEgMTIuMDUwNyAxMi45MzY1IDEyLjA1MDcgMTIuOTY3OCAxMS45NTRDMTMuNzc3NyA5LjQ1NjAyIDE1Ljc4NTQgNy40OTk1MiAxOC4zMTQxIDYuNzU5ODJDMTguNDE1NSA2LjczMDE3IDE4LjQxNTUgNi41NzI1NyAxOC4zMTQxIDYuNTQyOTJDMTUuNzg1NyA1LjgwMzM0IDEzLjc3OCAzLjg0Njg5IDEyLjk2NzggMS4zNDk0NUMxMi45MzY0IDEuMjUyNzIgMTIuNzkwMSAxLjI1MjcyIDEyLjc1ODcgMS4zNDk0NUMxMS45NDg0IDMuODQ3MTcgOS45NDA3NSA1LjgwMzYzIDcuNDExODcgNi41NDI4OUM3LjMxMDQ3IDYuNTcyNTMgNy4zMTA0NyA2LjczMDIgNy40MTE4NyA2Ljc1OTg1QzkuOTQxMSA3LjQ5OTIyIDExLjk0ODcgOS40NTU2OSAxMi43NTg3IDExLjk1NFoiIGZpbGw9IiMzQzYxRTIiLz4KPC9zdmc+Cg==);
      transform-origin: center;
      @include media(991, 1340) {
        width: 16px;
        height: 16px;
      }
    }
  }
}

.custom-arrow {
  margin-left: 7px;
  &:after {
    content: "";
    display: block;
    // position: absolute;
    width: 12px;
    height: 7px;
    background-size: contain;
    background-repeat: no-repeat;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIiIGhlaWdodD0iNyIgdmlld0JveD0iMCAwIDEyIDciIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMC4yMTk2NjcgMC4yMTk2NjhDMC41MTI1NjUgLTAuMDczMjIyNSAwLjk4NzQzNSAtMC4wNzMyMjI1IDEuMjgwMzMgMC4yMTk2NjhMNiA0LjkzOTM1TDEwLjcxOTcgMC4yMTk2NjhDMTEuMDEyNSAtMC4wNzMyMjI1IDExLjQ4NzQgLTAuMDczMjIyNSAxMS43ODAzIDAuMjE5NjY4QzEyLjA3MzIgMC41MTI1NjUgMTIuMDczMiAwLjk4NzQzNiAxMS43ODAzIDEuMjgwMzNMNi41MzAzMiA2LjUzMDMyQzYuMjM3NDUgNi44MjMyIDUuNzYyNTUgNi44MjMyIDUuNDY5NjcgNi41MzAzMkwwLjIxOTY2NyAxLjI4MDMzQy0wLjA3MzIyMjUgMC45ODc0MzYgLTAuMDczMjIyNSAwLjUxMjU2NSAwLjIxOTY2NyAwLjIxOTY2OFoiIGZpbGw9IiMyRDM0NEQiLz4KPC9zdmc+Cg==);
    transition: 0.2s ease-out;
    transform-origin: center;
    @include media(991, 1340) {
      width: 10px;
      height: 5px;
    }
  }
}
