.mega-menu {
  position: fixed;
  width: 100%;
  background: rgba(255, 255, 255, 0.98);
  backdrop-filter: blur(12px);
  transition: 0.5s;
  transform: translateY(70px);
  display: none;
  
  &.opened {
    display: block;
    left: 0;
    z-index: 9999;
    height: 100vh;
    transform: translateY(70px);
    @include mediaMax(991) {
      transform: translateY(45px);
      overflow: scroll;
    }
  }
  a {
    color: $color-dark-blue;
    display: inline-block;
  }

  &-inner {
    padding-top: 55px;
    border-top: 1px solid #E7EDFF;
    display: flex;
    justify-content: space-between;
    @include mediaMax(991) {
      padding-top: 25px;
      padding-bottom: 100px;
      flex-direction: column;
    }
  }
  .menu-wrap {
    padding-right: 10px;
    width: 235px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include mediaMax(991) {
      width: 100%;
      border-bottom: 1px solid #e7edff;
      &:last-child {
        border: 0;
      }
    }
    &>ul {
      &>li {
        position: relative;
        @include mediaMax(991) {
          padding: 20px 0;
        }
        &>a {
          font-size: 16px;
          color: $color-blue;
          &:hover {
            color: darken($color: $color-blue, $amount: 20%)
          }
          @include mediaMax(991) {
            padding-right: 20px;
            color: #2D344D;
          }
        }
        &.menu-item-has-children {
          .custom-arrow {
            @include mediaMax(991) {
              display: block;
            }

          }
        }
        
        //menu-item
        &.opened {
          &>a {
            color: $color-blue;
          }
          .custom-arrow {
            &:after {
              border-color: $color-blue;
              transform: rotate(135deg);
            }
          }
          
        }
      }
      
    }
    .sub-menu {
      padding-top: 20px;
      line-height: 30px;
      &.opened {
        display: block;
      }
      @include mediaMax(991) {
        display: none;
      }
      a {
        font-size: 14px;
        line-height: 20px;
        color: $color-dark-blue;
        &:hover {
          color: darken($color: $color-dark-blue, $amount: 20%)
        }
      }
    }
  }
  .custom-arrow {
    display: none;
    position: absolute;
    right: 0;
    top: 21px;
    width: 20px;
    height: 25px;
    &:after {
      top: 6px;
      right: 5px;
    }
    @include mediaMin(991) {
      display: none;
    }
  }

  .col-three {
    @include mediaMax(991) {
      ul {
        &:first-child {
          border-bottom: 1px solid #e7edff;
        }
      }
    }
  }
  .menu-wrap {
    ul.menu-information {
      &>li {
        &>a {
          cursor: auto;
          pointer-events: none;
          color: $color-dark-blue;
  
        }
      }
      .custom-arrow {
        width: 100%;
      }
    }
  }
}


.custom-arrow {
  &:after {
    content: '';
    position: absolute;
    transform: rotate(45deg);
    border: solid $color-dark-blue;
    border-width: 3px 3px 0 0;
    padding: 4px;
    transition: .2s ease-out;
    transform-origin: center;
  }
}
