.reliable-resources {
  @include mediaMax(991) {
    margin-right: -15px;
    // @at-root .section-reliable-resources & {
    //   margin-right: 0;
    // }
  }
  .social-chanels {
    @include mediaMax(1200) {
      margin-bottom: 40px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  .btn.btn-blue {
    min-width: 175px;
  }
}

.section-reliable-resources {
  // padding-top: 55px;
  padding-bottom: 55px;
  .box {
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 118px;
    padding: 20px 10px;
    background: $white;
    border: 1px solid $color-light-blue;
    @include border-radius(1rem);
    width: 100%;
    max-width: 100%;
    
    @include mediaMin(650) {
      margin: 4px;
      width: 330px;
    }
    @include mediaMin(991) {
      margin: 4px;
      width: 229px;
    }
    @include mediaMin(1050) {
      width: 240px;
    }
    @include mediaMin(1200) {
      width: 250px;
    }
  
    @include mediaMin(1441) {
      width: 344px;
    }
    &-media {
      padding-left: 40px;
      padding-right: 40px;

      img {
        @include mediaMax(991) {
         width: 170px;
        }
      }
    }
    
  }

  .tab-content {
    margin-right: 19px;
      margin-left: -4px;
    @include mediaMin(991) {
      margin-right: 24px;
      margin-left: -8px;
    }
    
    & > .tab-panel {
      display: none
    }
    & > .active {
      display: block
    }
  }
}

.resources-tabs {
  .nav {
    overflow-x: auto;
    flex-wrap: nowrap;
    @include mediaMax(991) {
      margin-right: -15px;
    }
    &-item {
      display: flex;
      flex-shrink: 0;
      position: relative;
      + .nav-item {
        @include mediaMin(991) {
          &:before {
          content: "";
            width: 4px;
            height: 4px;
            background-color: #D9D9D9;
            @include border-radius(50%);
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
        
      }
      
    }
    
    @include mediaMin(991) {
      padding: 32px 0;
      @include border-radius(500px);
      border: 1px solid $color-light-blue;
      background: $white;
      box-shadow: 0px 8px 8px 0px rgba(10, 74, 171, 0.02);
    }
    @include mediaMin(1340) {
      padding: 32px 64px;
    }
    &-link {
      padding: 12px 16px;
      color: $main-color-text;
      font-size: 14px;
      font-family: $f-sto-m;
      @include border-radius(8px);
      background-color: transparent;
      text-transform: uppercase;
      @include mediaMin(991)  {
        color: $color-dark-blue;
        font-size: 1.375rem; //22px
        padding: 0px 30px;
        font-family: $f-sto-r;
        opacity: .48;
      }
      @include mediaMin(1340) {
        padding: 0px 48px;
      }
      &.active {
        color: $white;
        background-color: $color-blue;
        opacity: 1;
        @include mediaMin(991) {
          color: #4460DA;
          background-color: transparent;
        }
        
      }
    }
  }
  
  
  
}



::-webkit-scrollbar { /* Webkit */
    width      : 0;  /* ширина scrollbar'a */
    background : transparent  /* опционально */
}
 
html {
    -ms-overflow-style : none;  /* IE 10+ */
    scrollbar-width    : none /* Firefox */
}