.section-reward {
  padding-top: 150px;
  padding-bottom: 50px;
  @include mediaMax(991) {
    padding-top: 60px;
    padding-bottom: 0;
  }

  &-inner {
    padding: 65px 0 85px;
    background-color: $color-light-white;

    @include mediaMax(991) {
      padding: 30px 0;
      text-align: center;
    }

  }

  .img-block {
    position: absolute;
    top: -160px;
    max-width: 495px;

    @include mediaMax(991) {
      margin: 30px auto 0;
      position: relative;
      top: 0;
    }
    @include mediaMax(767) {
      max-width:  200px;
    }
  }

  .btn.btn-blue {
    min-width: 220px;

    @include mediaMax(767) {
      min-width: 255px;
    }
  }
}