/* General set for same page */
.page-about,
.page-partners,
.page-portfolio,
.single-portfolio-case {
  .h4 {
    font-size: 34px;
    line-height: 130%;
    margin-bottom: 20px;

    @include mediaMax(767) {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

.section-hero {
  h1 {
    margin-bottom: 20px;
    font-size: 34px;
    line-height: 54px;
  }

  .btn.btn-blue {
    min-width: 220px;
  }

  .description {
    padding-right: 80px;

    @include mediaMax(1440) {
      padding-right: 30px;
    }

    @include mediaMax(991) {
      padding-right: 0;
    }
    @include mediaMax(767) {
      font-size: 14px;
    }

    p {
      margin-bottom: 30px;
      @include mediaMax(767) {
        margin-bottom: 12px;
      }
      &:last-child {
        margin-bottom: 0;
      }
    }

    strong {
      font-family: $f-sto-m;
    }
  }

  .img-hero {
    position: absolute;
    left: -20px;
    right: -110px;

    @include mediaMax(991) {
      position: relative;
      left: 0;
      right: 0;
    }
  }

}