//reliable-resources(front page)
.social-chanels {
  &-title {
    display: flex;
    align-items: center;
    margin-bottom: 36px;
    @include mediaMax(1200) {
      margin-bottom: 20px;
    }
  }
  //block-icoda-youtube-chanels
  .icon {
    margin-right: 15px;
    @at-root .youtube-chanels & {
      margin-right: 0;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%, 50%);
      img {
        transition: all 0.2s ease-out;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
  .title {
    font-size: 12px;
    line-height: 26px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }
  .item {
    display: flex;
    min-height: 118px;
    padding: 20px 10px;
    background: #ffffff;
    border: 1px solid #c8ccd0;
    border-radius: 12px;
    width: 300px;
    max-width: 100%;
    @at-root .youtube-chanels & {
      width: 100%;
      // padding: 40px;
      // border: 2px solid #f4f6f9;
      // @include mediaMax(1340) {
      //   padding: 20px;
      // }
    }
    @include mediaMin(1200) {
      width: 290px;
    }
    & + .item {
      @include mediaMin(1200) {
        margin-top: 11px;
      }
      @include mediaMax(1200) {
        margin-right: 10px;
      }
    }
  }
  .img-wrap {
    position: relative;
    width: 67px;
    height: 67px;
    flex-shrink: 0;
    // @at-root .youtube-chanels & {
    //   width: 110px;
    //   height: 110px;
    //   @include mediaMax(1340) {
    //     width: 67px;
    //     height: 67px;
    //   }
    // }
    & > img {
      border-radius: 50%;
      width: 100%;
    }
  }

  .content {
    margin-left: 10px;
    line-height: 19px;
    font-size: 12px;
    color: $color-dark-blue;
    // @at-root .youtube-chanels & {
    //   margin-left: 45px;
    //   font-size: 16px;
    // }
    a {
      color: $color-dark-blue;
      &:hover {
        color: darken($color: $color-dark-blue, $amount: 20%);
      }
    }
  }
  .name {
    font-size: 1rem;
    // @at-root .youtube-chanels & {
    //   font-size: 1.375rem;
    //   @include mediaMax(1340) {
    //     font-size: 1rem;
    //   }
    // }
  }

  &-vcs {
    .slick-slide {
      margin-right: 10px;
      min-height: 126px;
      img {
        width: auto;
        margin: auto;
      }
    }
  }
}
//block-icoda-youtube-chanels
.youtube-chanels {
  padding-bottom: 90px;
  @include mediaMax(768) {
    padding-bottom: 55px;
  }
}
//block-icoda-twitter-chanels
.twitter-chanels {
  margin-top: 40px;
  padding-bottom: 40px;
  @include mediaMax(767) {
    margin-top: 30px;
  }
}
