.tag-undertitle {
  display: inline-block;
  color: $pink-900;
  padding: 6px 14px;
  @include border-radius(6px);
  border: 1px solid $pink-900;
  background: rgba(255, 255, 255, 0.7);
  line-height: 115%;
  @at-root .block-post-checklist-two-columns & {
    background: $white;
    position: absolute;
    top: 0;
    transform: translateY(-50%);
  }
}
