.tags {
  &-title {
    font-size: 14px;
    color: $color-dark-blue;
  }
  &-list {
    margin-left: -3px;
    margin-right: -3px;

    //uncomment after removed <?php if ( !empty($_GET['show_new_blocks'])) : ?>tags-list-blog<?php endif; ?> in tags.php

    // @at-root .category-blog & {
    //   display: flex;
    //   overflow-x: auto;
    //   flex-wrap: nowrap;
    // }

    //removed after uncomment
    &-blog {
      display: flex;
      overflow-x: auto;
      flex-wrap: nowrap;
    }
    //end
    li {
      display: inline-flex;
      margin: 3px;
      flex-shrink: 0;
    }
    input {
      position: absolute;
      opacity: 0;
      visibility: hidden;
      &:checked + label {
        background: $color-light-gray;
        &:after {
          content: "";
          background-image: url("../images/check-icon.svg");
        }
        &:focus {
          outline: none;
        }
      }
    }
    label {
      margin: 0;
      padding: 12px;
      font-size: 14px;
      line-height: 100%;
      background-color: $color-light-white;
      color: $color-dark-blue;
      border: 1px solid #e7edff;
      border-radius: 3px;
      cursor: pointer;
      display: flex;
      align-items: center;
      &:after {
        content: "";
        margin-left: 8px;
        display: block;
        background-image: url("../images/plus-icon.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: 10px 10px;
        width: 10px;
        height: 10px;
      }
    }
  }
  &-button {
    &.btn.btn-blue {
      padding: 11px 25px;
      font-size: 12px;
      min-width: auto;
    }
  }
}
