.archive {
  .blog-post_list {
    .blog-img {
      img {
        width: 100%;
        height: 260px;
        object-fit: cover;
        @include mediaMax(450) {
          height: auto;
        }
        @include mediaMin(991) {
          border-radius: 10px 10px 0 0;
        }
      }
    }
    .service-card {
      border: 0;
      height: 100%;
      margin-bottom: 0;
    }
    .blog-card-content {
      padding: 0.875rem; //14px
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include mediaMax(450) {
        padding: 20px;
      }
    }
    .sub-text {
      margin: 12px 0;
      p {
        color: $color-dark-gray;
        line-height: 175%;
        font-size: 15px;
      }
    }
    .blog-card-footer {
      font-size: 15px;
      color: #aabde7;
      @include mediaMin(992) {
        margin-bottom: 0.75rem;
      }
    }

    .has-big-card {
      .blog-img {
        img {
          border-radius: 0;
        }
      }
      .blog-card-content {
        padding: 1.5rem; //24px
        @include mediaMin(992) {
          flex-direction: column;
          justify-content: space-between;
        }
      }
    }
  }
  .list-action {
    margin-top: 10px;
    .number {
      margin-left: 6px;
      color: $color-dark-gray;
      font-size: 10px;
      transition: color 0.2s ease-out;
    }
    li {
      display: flex;
      align-items: center;
      &:hover {
        .number {
          color: darken($color: $black, $amount: 10%);
        }
      }
      + li {
        margin-left: 12px;
      }
    }
  }
}
