.brand-assets {
  &-page {
    .description {
      font-size: 14px;
      color: $color-dark-gray;
      line-height: 170%;
      @include mediaMax(768) {
        line-height: 130%;
      }
      @include mediaMin(768) {
        width: 370px;
      }

      p {
        + p {
          margin-top: 3rem;
          @include mediaMax(768) {
            margin-top: 1.5rem;
          }
        }
      }
    }
    .title {
      @include mediaMax(1440) {
        font-size: 2.5rem;
      }
      @include mediaMax(768) {
        font-size: 1.25rem;
      }
    }
  }
  &-hero {
    padding-bottom: 4.375rem;
    @include mediaMax(768) {
      padding-bottom: 3rem;
    }
    .wrap-btn {
      margin-left: -0.5rem;
      margin-right: -0.5rem;
    }
    .btn.btn-blue {
      min-width: 104px;
      padding: 10px;
      margin: 0.5rem;
      @include mediaMax(768) {
        min-width: 44%;
      }
    }
  }
  &-usage {
    padding-top: 6.5rem;
    padding-bottom: 9.75rem;
    background-color: $color-light-white;
    @include mediaMax(768) {
      padding-top: 2.625rem;
      padding-bottom: 2.875rem;
    }
  }
  &-palette {
    padding-top: 6.5rem;
    padding-bottom: 9.75rem;
    @include mediaMax(768) {
      padding-top: 2.625rem;
      padding-bottom: 2.875rem;
    }
  }
}

.card-palette {
  @include mediaMax(991) {
    margin-bottom: 40px;
  }
  &-body {
    height: 173px;
    border-radius: 4px;
    @include mediaMax(1340) {
      height: 143px;
    }
    @include mediaMax(768) {
      height: 110px;
    }
  }
  &-footer {
    padding-top: 17px;
  }
}

.bg-blue {
  background-color: $color-blue;
}
.bg-dark {
  background-color: $color-dark-blue;
}
.bg-light-gray {
  background-color: $color-dark-gray;
}
.bg-light-blue {
  background-color: $color-light-white;
}
