.section-hero-new-service {
  @include mediaMax(992) {
    margin-bottom: 0;
  }
  &.section-hero-new {
    .slick-track {
      gap: 0;
    }
  }

  .media-logo {
    + .media-logo {
      margin-left: 12px;
      @at-root .rtl & {
        margin-left: 0;
        margin-right: 12px;
      }
      img {
        width: auto;
      }
    }
  }
}

.section-services-cases {
  .slick-slide {
    img {
      width: auto;
    }
  }
  .custom-slider {
    @include mediaMin(1024) {
      opacity: 1;
      visibility: visible;
    }
  }
  .btn.btn-blue {
    min-width: 187px;
  }
}
.card-has-rotate-arrow {
  transition: all ease-in-out 0.2s;
  &:hover {
    .btn-arrow {
      transform: rotate(-45deg);
      @at-root .rtl & {
        transform: rotate(-135deg);
      }
    }
  }
}

.section-services-list,
.section-services-cases {
  .slick-track {
    @include mediaMax(992) {
      display: flex !important;
      padding-left: 1rem;
    }
  }
  .slick-slide {
    //align all slide with the same height
    @include mediaMax(992) {
      flex-grow: 0;
      height: inherit !important;
    }

    img {
      width: auto;
    }
  }
}

.section-services-list {
  @include mediaMin(991) {
    background-image: url("../images/bg-service-list.png");
    background-position: 0 50%;
    background-repeat: no-repeat;
  }

  .title,
  .undertitle {
    font-size: 1.5rem;
    font-family: $f-sto-m;
    @include mediaMin(1441) {
      font-size: 1.75rem;
    }
  }
  .title {
    color: $color-blue;
  }
  .undertitle {
    color: $color-dark-blue;
  }
  .btn.btn-blue {
    min-width: 170px;
  }
  .custom-slider {
    @include mediaMin(991) {
      opacity: 1;
      visibility: visible;
    }
  }

  .services-card {
    @include mediaMax(992) {
      width: 300px;
    }

    // + .services-card {
    //     margin-left: 12px;
    //     @include mediaMin(768) {
    //         margin-left: 40px;
    //     }
    // }
  }
}
//4
//templage-parts/section-path

//5
.section-stories {
  .custom-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .slick-track {
    @include mediaMax(1024) {
      display: flex !important;
      align-items: center;
    }
  }
  .media-logo {
    width: 203px;
    img {
      width: auto;
      height: 40px;
    }

    + .media-logo {
      margin-left: 30px;
      @at-root .rtl & {
        margin-left: 0;
        margin-right: 30px;
      }
      @include mediaMin(1024) {
        margin-left: 40px;
        @at-root .rtl & {
          margin-left: 0;
          margin-right: 40px;
        }
      }
    }
  }
  .custom-slider {
    @include mediaMin(1024) {
      opacity: 1;
      visibility: visible;
    }
  }
}
//6
.section-businesses {
  &-inner {
    background-color: $gray-300;
    padding: 40px 0;
    @include border-radius(1.25rem);

    @include mediaMin(991) {
      padding: 60px 70px;
    }
    @include mediaMin(1441) {
      padding: 80px 100px;
    }
    @include mediaMin(991) {
      &:after {
        content: "";
        background: url("../images/bg-businesses.png") no-repeat;
        background-size: 500px 500px;
        width: 500px;
        height: 500px;
        position: absolute;
        right: 0;
        bottom: 0;
        border-radius: 0 0 20px 0;
      }
    }
  }
  .subtitle {
    @include mediaMin(991) {
      width: 55%;
    }
    @include mediaMin(1441) {
      width: 50%;
    }
  }
}

//7
.single-post {
  .section-faq-service {
    .accordion-faq {
      margin-bottom: 0;
    }
  }
}
.section-faq-service {
  margin-top: 40px;
  margin-bottom: 80px;
  @include mediaMin(991) {
    margin-top: 112px;
    margin-bottom: 112px;
  }
}

.has-white-font {
  background-color: $black;
}

.service-v2 {
  //footer
  .section-9 {
    background-color: $gray-300;
  }
}
