.page-calculator {
  .btn.btn-blue,
  .btn {
    min-width: auto;
    padding: 16px 40px;
  }
  .bg-hero-desktop {
    background-image: url("../images/bg-hero-desktop-icoda.png");
    background-repeat: no-repeat;
    background-position: right center;
  }
  .bg-hero-mobile {
    background-image: url("../images/bg-hero-mobile-icoda.png");
    background-repeat: no-repeat;
    background-position: right center;
  }
  .section-cases-hero-new {
    .title {
      opacity: 1;
    }
  }
}

.calculator-steps {
  padding-bottom: 1.5rem;
  @include mediaMin(991) {
    padding-bottom: 6rem;
  }
  .title {
    @include mediaMax(768) {
      font-size: 1.25rem;
    }
  }
}

.steps-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.steps-box {
  &__main {
    width: 100%;
  }

  &__footer {
    @at-root .lang-ar & {
      flex-direction: row-reverse;
    }
  }
  .step-title {
    font-size: 1.5rem;
    font-family: $f-sto-m;
    line-height: 110%;

    @include mediaMin(991) {
      font-size: 2rem;
    }
  }

  .steps-count {
    font-size: 0.75rem;
    color: $color-dark-gray;
    @include mediaMin(991) {
      font-size: 0.875rem;
    }
  }

  .text-done {
    margin-top: 60px;
    margin-bottom: 30px;
    @include mediaMin(991) {
      margin-top: 112px;
      margin-bottom: 60px;
    }
  }
  textarea {
    &::placeholder {
      color: #9aa3c6;
      font-size: 1.125rem;
      @include mediaMin(991) {
        font-size: 1.25rem;
      }
    }
    &:not(.textarea-default) {
      margin-bottom: 0;
      border-radius: 4px;
      border: 1px solid $separator-color;
      background: #f7f8fb;
      line-height: 110%;
    }
  }
  .textarea-default,
  .form-default input {
    font-size: 1.125rem;
    color: $color-dark-blue;
    border-color: $border-color;
    @include border-radius(8px);
    margin-bottom: 14px;
    @include mediaMin(991) {
      font-size: 1.25rem;
    }
  }
  .form-default {
    .form-control.textarea-default {
      padding-top: 10px;
      height: auto;
      @include border-radius(8px);
    }
  }
}

.custom-checkbox {
  &.active {
    textarea {
      display: block;
      width: 100%;
    }
  }
  input[type="checkbox"] {
    position: absolute;
    z-index: -1;
    opacity: 0;
    &:checked {
      + label:before {
        width: 1.5rem;
        height: 1.5rem;
        border: 5px solid $color-blue;
        background-color: $white;
      }
    }
  }
  textarea {
    display: none;
    @at-root .calculator-steps & {
      display: block;
    }
  }
  label {
    display: inline-flex;
    align-items: center;
    user-select: none;
    cursor: pointer;
    width: 100%;
    line-height: 130%;
    font-size: 1.125rem;
    color: $color-dark-blue;
    @include border-radius(8px);
    margin-bottom: 0.5rem;
    border: 1px solid $border-color;
    padding: 1rem;

    @include mediaMin(1341) {
      font-size: 1.25rem;
      margin-bottom: 0.875rem;
    }

    &:before {
      content: "";
      @include border-radius(50%);
      flex-shrink: 0;
      flex-grow: 0;
      margin-right: 12px;
      width: 1.5rem;
      height: 1.5rem;
      border: 2px solid $separator-color;
    }
  }
}
.step-first {
  ul {
    @include mediaMin(991) {
      width: 450px;
      margin: auto;
      @at-root .calculator-steps & {
        margin: 0;
        width: 900px;
        max-width: 100%;
      }
    }
  }
}
.step-second,
.step-fifth {
  ul {
    @include mediaMin(991) {
      height: 245px;
      overflow: auto;
      @at-root .calculator-steps & {
        height: auto;
      }
    }
  }
}

.calculator-media {
  @include media(1341, 1440) {
    padding-right: 1rem;
  }
  .media-logo {
    &:not(:first-child) {
      margin-top: 1rem;
    }
  }
}

/* Навигация */
.steps-nav {
  width: 445px;
  max-width: 100%;
}

.step-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: background 0.3s, color 0.3s;
  cursor: not-allowed;
  color: $gray-500;
  font-size: 1.125rem;
  border: 1px solid $gray-500;

  &.active {
    background: transparent;
    color: $color-blue;
    cursor: pointer;
    border: 1px solid $color-blue;
  }
  &.done {
    color: $white;
    cursor: pointer;
    font-size: 0;
    background-color: $color-blue;
    &:after {
      content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M12.8915 0.28962C13.0671 0.00103065 13.4371 -0.0866145 13.718 0.0938144C13.999 0.274265 14.0843 0.654242 13.9087 0.942839L6.10957 13.7545C6.03713 13.8735 5.86827 13.8838 5.78186 13.7746L0.134272 6.63323C-0.0746551 6.36903 -0.0354402 5.98035 0.221773 5.76575C0.478912 5.55145 0.856644 5.59171 1.06553 5.85562L5.65452 11.6584C5.74093 11.7677 5.90979 11.7574 5.98223 11.6384L12.8915 0.28962Z' fill='white'/%3E%3C/svg%3E");
      line-height: 100%;
    }
  }
}

.step-line {
  flex: 1;
  height: 1px;
  background: $gray-500;
  &.done {
    background: $color-blue;
  }
}

.step {
  display: none;
  &.active {
    display: block;
  }
}

.btn-prew,
.btn-next,
.btn-apply {
  background-color: transparent;
  padding: 16px 40px;
  @include border-radius(4px);

  &:hover {
    background-color: $color-blue;
  }
}
