.page-about {
  .section-testimonials {
    padding-top: 0;
    @include mediaMin(992) {
      padding-top: 50px;
    }
    .title {
      font-size: 1.5rem;
      line-height: 1.875rem;
      font-family: $f-sto-m;
      color: $color-dark-blue;
      letter-spacing: -0.01em;
      text-wrap: balance;
      @include mediaMin(992) {
        font-size: 2rem;
        line-height: 46px;
      }
    }
    .wr-control {
      @include mediaMin(768) {
        top: -35px;
      }
    }
  }
  .section-faq-service {
    margin-top: 70px;
    @include mediaMin(992) {
      margin-top: 60px;
    }
  }
}
