.page-partners {
  .section-ready-be-partners {
    padding-top: 120px;
    @include mediaMax(991) {
      padding-top: 60px;
    }
  }
  .partners-hero {
    .description {
      padding-right: 140px;
      @include mediaMax(1441) {
        padding-right: 90px;
      }
      @include mediaMax(991) {
        padding-right: 0;
      }
    }
    p {
      color: #37384F;
    }
    .img-hero {
      left: 0;
    }
  }
  .section-ready-be-partners {
    &-inner {
      background: url('../images/bg-be-partner.png') no-repeat center;
      background-size: contain;
      text-align: center;
      padding: 80px 0 50px;
      @include mediaMax(767) {
        padding: 0;
      }
      @include mediaMax(550) {
        background: none;
      }
    }
    .h4 {
      margin-bottom: 50px;
      @include mediaMax(767) {
        margin-bottom: 20px;
      }
    }
    p {
      margin: auto;
      width: 820px;
      max-width: 100%;
      font-size: 32px;
      line-height: 140%;
      color: #37384F;
      @include mediaMax(767) {
        font-size: 15px;
        line-height: 26px;
      }
    }
    .btn-wrap {
      margin-top: 60px;
      @include mediaMax(767) {
        margin-top: 30px;
      }
      
    }
  }

  .meet-up {
    padding: 200px 0;
    @include mediaMax(991) {
      padding: 60px 0;
    }
  }

  .form-contact {
    padding-bottom: 120px;
    @include mediaMax(991) {
      padding-bottom: 60px;
    }
  }

  .btn {
    text-transform: inherit;
  }

}
