//.events-page - old wrap class

.page-template-tpl-events {


}

.page-events {
    .section-cases-hero-new__inner {
        padding-top: 1.5rem;
        box-shadow: none;
        @include mediaMin(992) {
            padding-top: 2.5rem;
        }
        
    }
    
    .card-event {
        height: auto;
    }
    .btn-book-meeting {
        font-size: 12px;
        line-height: 115%;
    }
    .overview-table__btn {
        @include mediaMin(1341) {
            margin-left: -15px;
        }
    }
    .section-worldwide {
        .btn-book-meeting {
            font-size: 12px;
            @include mediaMin(992) {
                font-size: 1rem;
            }
            
        }
    }
}

.section-featured-events {
    &__row {
        .btn.btn-blue {
            font-size: 12px;
            @include mediaMin(992) {
                font-size: 15px;
            }
        }
    }
    .main-title {
        opacity: 1;
        font-size: 1.5rem;
        line-height: 120%;
        @include mediaMin(992) {
            font-size: 2.5rem;
            line-height: 110%;
        }
    }
}

.section-all-events {
    padding-top: 3rem;
    padding-bottom: 3rem;
    @include mediaMin(992) {
        padding-top: 3.5rem;
        padding-bottom: 3.5rem;
    }
    .overview-table {
        &__body {
            display: grid;
            grid-template-rows: auto;
            grid-template-columns: 1fr 1fr;
            grid-template-areas:
                "a b"
                "c d";
            @include mediaMin(992) {
                display: flex;
            }
            .column {
                &:not(:first-child) {
                    margin-top: 0;
                }
                &:first-child,
                &:nth-child(2),
                &:nth-child(3),
                &:last-child {
                    @include mediaMin(992) {
                        width: 25%;
                    }
                }
                &:first-child {
                    @include mediaMax(991) {
                        border-bottom: 1px solid $border-color;
                        padding-bottom: 8px;
                    }
                }
                &:nth-child(2) {
                    @include mediaMax(991) {
                        padding-left: 12px;
                        border-left: 1px solid $border-color;
                        border-bottom: 1px solid $border-color;
                        padding-bottom: 8px;
                    }
                }
                &:nth-child(3) {
                    @include mediaMax(991) {
                        padding-top: 8px;
                    }
                }
                &:last-child {
                    @include mediaMax(991) {
                        padding-top: 8px;
                        padding-left: 12px;
                        border-left: 1px solid $border-color;
                    }
                }
                
                
            }
            
        }
        .title {
            font-size:  1.25rem;
            color: $color-dark-blue;
            line-height: 110%;
            @include mediaMin(992) {
                font-size:  1.5rem;
            }
        }
        .btn.btn-blue,
        .btn-book-meeting {
            @include mediaMax(1340) {
                width: 50%;
            }
        }
    } 
    &__btn {
        @include mediaMax(1340) {
            flex-direction: column;
        }
    }
    .undertitle {
        font-size: 1rem;
        line-height: 150%;
        // display: inline;
    }
    
    .btn-copy-code {
        height: 42px;
        @include mediaMax(1340) {
            width: 100%;
            // height: 42px;
        }
    }
    &__show-more {
        .btn.btn-blue {
            padding: 13px 20px;
            font-size: 12px;
            @include mediaMin(992) {
                min-width: auto;
                padding: 1rem 40px;
                font-size: 1rem;
            }
            @include mediaMax(650) {
                width: 100%;
            }
        }
    }
    
}

.undertitle-wrap {
    &.open {
        .undertitle-short {
            display: none;
        }
    }
}

//read more, read less(card-event)
.undertitle-full,
label[for="read-more"] span:nth-child(2),
#read-more:checked~label[for="read-more"] span:nth-child(1) {
    display: none;
}

#read-more:checked+.undertitle-full,
#read-more:checked~label[for="read-more"] span:nth-child(2) {
    display: inline;
}

label[for="read-more"] {
    cursor: pointer;
    font-size: .875rem;
    color: $color-blue;
    font-weight: 600;
    display: inline;
    &:hover {
        text-decoration: underline;
    }
}

.card-event {
    &.overview-table {
        @at-root .section-featured-events & {
            padding-bottom: 1rem;
        }
        
    }
    &-list {
        position: relative;
    }
    &.active {
        
        .card-event__footer {
            display: block;
            transform: translate(0);
            opacity: 1;
            
        }
    
        .card-event__img {
            opacity: 1;
            
        }
    }
    .row > .col {
        position: static;
    }
    &__footer,
    &__img {
        @include mediaMin(992) {
            opacity: 0;
            transition: all 300ms;
        }
        
    }
    &__footer {
        @include mediaMin(992) {
            transform: translate(0, -100%);
            display: none;
        }
        
    }
    // &__img {
    //     @include mediaMin(992) {
    //         display: none;
    //         transform: translate(0, -100%);
            
    //     }
        
    // }
    &__info {
        font-size: 1rem;
        line-height: 110%;
    }
    .date {
        color: $color-blue;
    }
    .country {
        color: $color-dark-gray;
        border-left: 1px solid $color-dark-gray;
        padding-left: 8px;
        margin-left: 8px;
    }
    &__title {
        color: $color-dark-blue;
        font-size: 1.5rem;
        line-height: 115%;
        font-family: $f-sto-m;
        @include mediaMin(992) {
            font-size: 2rem;
        }
    }
    
    &__btn {
        gap: 8px;
        
    }
    .btn.btn-blue,
    .btn-outline-blue {
        padding: 13px 20px;
        @include border-radius(4px);
        font-size: 12px;
        min-width: auto;
    }
    &__img {
        img {
            @include border-radius(12px);
        }
        margin-bottom: 12px;
        @include mediaMin(992) {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
            width: 410px;
            margin-bottom: 0;
        }
        @include mediaMin(1341) {
            width: 542px;
        }
        
    }
    &-list {
        > li {
            + li {
                border-top: 1px solid $border-color;
                // margin-top: 20px;
                padding-top: 20px;
                @include mediaMin(992) {
                    border-top: 0;
                    margin-top: 0;
                    padding-top: 0;
                    .card-event__body {
                        border-top: 1px solid $border-color;
                        // margin-top: 20px;
                        padding-top: 20px;
                    }
                }
            }
        }
    }
}

.section-has-bg {
    
    background: $bg-gray;
    padding: 24px 0;
    @include border-radius(1.25rem);
    
    @include mediaMin(992) {
        padding: 40px 0;
        margin-right: 0;
        margin-left: 0;
    }
    @include mediaMin(1200) {
        margin-right: 30px;
        margin-left: 30px;
    }
    @include mediaMin(1441) {
        
        margin-right: 0;
        margin-left: 0;
    }
    @include mediaMin(1515) {
        margin-right: 20px;
        margin-left: 20px;
    } 
    @include mediaMin(1600) {
        margin-right: 50px;
        margin-left: 50px;
    } 
    
}

.section-worldwide {
    .undertitle {
        font-size: 1rem;
    }
    .section-has-bg {
        @include media(992, 1341) {
            padding: 30px 0;
        }
    }
    &__img {
        @include mediaMin(992) {
            width: 440px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 0;
        }
        @include mediaMin(1340) {
            width: 521px;
        }
        
    }
    .btn-book-meeting {
        width: 100%;
        @include mediaMin(650) {
            width: auto;

        }
    }

}