.page-book {
  .abovetitle {
    font-size: 17px;
    font-family: $f-sto-m;
    @include mediaMin(1024) {
      font-size: 1.125rem;
    }
  }

  .with-gradient {
    //blue gradient
    &:after {
      content: "";
      position: absolute;
      right: 22%;
      bottom: 0;
      z-index: -2;
      width: 300px;
      height: 300px;
    }
    &-blue {
      &:after {
        background: rgba(57, 70, 244, 0.4);
        filter: blur(150px);
      }
    }
    &-pink {
      &:before {
        width: 400px;
        height: 400px;
        z-index: -2;
        bottom: -250px;
      }
    }
  }
  .related-articles {
    .title {
      width: 250px;
      max-width: 100%;
      @include mediaMin(500) {
        width: auto;
      }
    }
  }
  .block-banner {
    @include mediaMin(992) {
      position: relative;

      &:after,
      &:before {
        content: "";
        position: absolute;
        bottom: 0;
        z-index: -2;
        left: 0;
      }
      //blue gradient
      &:before {
        background: rgba(57, 70, 244, 0.4);
        filter: blur(150px);
        width: 300px;
        height: 300px;
      }
      //pink gradient
      &:after {
        background: rgba(255, 57, 123, 0.4);
        filter: blur(150px);
        width: 200px;
        height: 200px;
      }
    }
  }
  .block-content-slider {
    margin-top: 1rem;
    @include mediaMin(992) {
      margin-top: 0;
    }
  }

  .section-businesses {
    padding-top: 1rem;
    @include mediaMin(992) {
      margin-top: 0 !important;
    }
    .btn.btn-blue {
      min-width: auto;
      @include mediaMax(1200) {
        padding: 1rem 0.5rem;
      }
    }
    .col-12 {
      &:last-child {
        .services-card-body {
          @include mediaMax(992) {
            display: block !important;
          }
        }
      }
    }
  }
  .related-articles {
    .slick-dots {
      position: relative;
      bottom: 0;
      margin-top: 1.5rem;
    }
  }
  .section-faq-service {
    margin-top: 1.5rem;
    margin-bottom: 3rem;
    @include mediaMin(992) {
      margin-top: 3rem;
    }
  }
}

.section-hero-book {
  padding-top: 40px;
  padding-bottom: 24px;
  @include mediaMin(1024) {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .title {
    font-size: 2rem;
    line-height: 100%;
    opacity: 1;
    font-family: $f-sto-m;
    @include mediaMin(1024) {
      font-size: 2.5rem;
    }
    @include mediaMin(1341) {
      font-size: 3rem;
    }
  }
  .subtitle {
    font-size: 0.9375rem;
    line-height: 150%;
    @include mediaMin(1341) {
      font-size: 1.125rem;
    }
  }
  .book {
    &-info {
      @include mediaMin(992) {
        &::before {
          content: "";
          position: absolute;
          background-repeat: no-repeat;
          background-image: url("../images/ai-seo.png");
          background-size: contain;
          right: -145px;
          bottom: -90px;
          width: 638px;
          height: 416px;
          display: block;
          z-index: -1;
        }
      }
      img {
        @include mediaMax(991) {
          width: 160px;
          height: auto;
        }
      }
    }
  }
  .more-llms {
    font-size: 0.875rem;
    font-family: $f-sto-m;
    color: $black;
  }
  .llm-list-icons {
    li + li {
      margin-left: 8px;
    }
  }
  .benefit-item {
    font-size: 1rem;
    line-height: 115%;
    align-items: flex-start;
    padding: 14px 12px;
  }
  .custom-slider {
    @include mediaMin(1024) {
      opacity: 1;
      visibility: visible;
    }
  }
  .title-benefits {
    font-family: $f-sto-m;
  }
  .subtitle-benefits {
    color: $color-dark-blue;
  }
  .hero-slider,
  .slick-track {
    display: flex;
    gap: 12px;
  }
}
