.section-404 {
  background: #F2F2F4;
}

.page-404 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 130px 0 250px;
  background: url("../images/404.png") center no-repeat;
  background-size: cover;
  @include mediaMax(768) {
    padding: 80px 0 80px;
  }
}

.title-404 {
  font-family: $f-sto-m;
  font-style: normal;
  font-weight: 500;
  font-size: 200px;
  line-height: 1;
  color: $color-dark-blue;
  opacity: 0.1;
  @include mediaMax(768) {
    font-size: 150px;
  }
}

.desc-404 {
  margin-bottom: 65px;
  @include mediaMax(768) {
    margin-bottom: 30px;
  }
}

.btn-404 {
  @include mediaMax(768) {
    display: flex;
    flex-direction: column;
  }
  & > a:first-child {
    margin-right: 30px;
    @include mediaMax(768) {
      margin-right: 0;
      margin-bottom: 30px;
    }
  }
}