.section-media {
  //   padding-top: 3rem;
  .section-title {
    font-size: 1.5rem;
    line-height: 1.875rem;
    font-family: $f-sto-m;
    color: $color-dark-blue;
    letter-spacing: -0.01em;
    text-wrap: balance;
    @include mediaMin(992) {
      font-size: 2rem;
      line-height: 46px;
    }
  }
  .media-box {
    display: flex;
    align-items: center;
    width: 645px;
    margin-right: 130px;
    //   border: 1px solid $border-color;
    // border-radius: 12px;
    // padding: 40px 44px;
    @include mediaMax(767) {
      width: 400px;
      margin-right: 0;
    }
    @include mediaMax(550) {
      width: 270px;
      flex-direction: column;
      align-items: flex-start;
    }
  }
  .media-img {
    flex-shrink: 0;
    max-width: 245px;
    @include mediaMax(767) {
      max-width: 155px;
    }
  }
  .media-description {
    padding: 30px 0 30px 30px;
    font-size: 24px;
    line-height: 130%;
    color: $color-dark-blue;
    @include mediaMax(767) {
      padding: 20px;
      font-size: 14px;
    }
    @include mediaMax(550) {
      padding-left: 0;
    }
  }
  .wr-control {
    top: -57px;
    @include mediaMax(767) {
      top: -42px;
    }
  }
  .slick-track {
    display: flex;
    align-items: center;
    height: 100%;
    min-height: 240px;
  }
  .wr-controls {
    position: relative;
    top: 10px;
    right: 0;
    flex-shrink: 0;
  }
}
